openapi: 3.1.0
info:
  title: PredictHQ Features API (Public Preview)
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.predicthq.com/legal/terms
  description: Access prebuilt Machine Learning features that will take your forecast models and results to the next level, fast. Gain access to over 100 ML-ready features that are guaranteed to improve your forecasting accuracy.
servers:
  - url: https://api.predicthq.com
paths:
  /v1/features/:
    post:
      tags:
        - Features API
      summary: Obtain requested features based on specified criteria and categories
      operationId: obtain_features_given_criteria_features__post
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            default: 0
            type: integer
            minimum: 0
        - name: limit
          in: query
          required: false
          schema:
            default: 100
            type: integer
            maximum: 100
            minimum: 1
        - name: accept
          in: header
          required: false
          schema:
            type: string
            pattern: ^(application\/json|text\/csv|\*\/\*)$
            description: "Receive results in JSON or CSV by specifying the appropriate Accept header.\n            Supported values:\n\n            - application/json\n\n            - text/csv\n\n            "
            title: Accept
          description: "Receive results in JSON or CSV by specifying the appropriate Accept header.\n            Supported values:\n\n            - application/json\n\n            - text/csv\n\n            "
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturesRequestModel'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhqFeaturesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ActiveDateRange:
      properties:
        gt:
          type: string
          format: date
          title: Gt
        gte:
          type: string
          format: date
          title: Gte
        lt:
          type: string
          format: date
          title: Lt
        lte:
          type: string
          format: date
          title: Lte
        tz:
          type: string
          title: Tz
      type: object
      title: ActiveDateRange
    Beam:
      properties:
        analysis_id:
          type: string
          minLength: 1
          title: Analysis Id
          description: Beam analysis ID
        group_id:
          type: string
          minLength: 1
          title: Group Id
          description: Beam analysis group ID
      type: object
      required:
        - analysis_id
      title: Beam
    FeatureStats:
      properties:
        count:
          type: integer
          title: Count
        sum:
          type: integer
          title: Sum
        min:
          type: integer
          title: Min
        max:
          type: integer
          title: Max
        avg:
          type: integer
          title: Avg
        median:
          type: integer
          title: Median
        std_dev:
          type: integer
          title: Std Dev
      type: object
      title: FeatureStats
    FeaturesRequestModel:
      properties:
        active:
          $ref: '#/components/schemas/ActiveDateRange'
          description: |
            The date range to calculate features for. This is named `active` because it includes events that are active within the date range. A multi-day event might start or end outside the specified date range - the days the event is active within the specified range will be included in the calculations.

            **Supports the following fields:**
            - `gt` - greater than
            - `gte` - greater than or equal
            - `lt` - less than
            - `lte` - less than or equal

            Note that all dates here are in local time (not UTC). Features API works on specific locations.

            Please also note that the maximum supported date range is 90 days. If you require features over a wider date range please make multiple API requests.

            **E.g.**
            ```json
            {
              "active": {
                "gte": "2019-11-28",
                "lte": "2019-11-29"
              }
            }
        beam:
          $ref: '#/components/schemas/Beam'
          description: |-
            An optional beam analysis object which if provided will calculate the `location`, `interval`, `week_start_day`, `phq_*` features and `stats`, and `phq_rank` from the Beam analysis (and optionally its group).

            **Fields:**
            - `analysis_id` (required if `beam` is present): Beam analysis ID
            - `group_id` (optional): Beam analysis group ID

            If both `beam.analysis_id` and `beam.group_id` are provided, all the above fields will be calculated from the Beam analysis but the phq_* features will be calculated from the Beam analysis Group.

            Note: This is useful for when you want to request features for a variety of locations while maintaining feature consistency by limiting the returned features to those of the group's feature importance results.

            **E.g.**
            ```json
            {
              "beam": {
                "analysis_id": "0SXAmHsoZo0"
              }
            }
            ```
            If both beam.analysis_id and beam.group_id are provided, all the above fields will be calculated from the Beam analysis but the phq_* features will be calculated from the Beam analysis Group.

            Note: This is useful for when you want to request features for a variety of locations while maintaining feature consistency by limiting the returned features to those of the group's feature importance results.

            E.g.
            ```json
                {
              "beam": {
                "analysis_id": "0SXaMHsoYo0",
                "group_id": "QxE9BcLq7ZY"
              }
            }
            ```
        hour_of_day_start:
          $ref: '#/components/schemas/HourOfDayRange'
          description: |
            Time range (per day) to calculate features for.

            Note: This field is currently only supported on phq_viewership_* features.

            If your location only operates within certain hours of the day you can use this filter to only include records that are happening within those hours.

            Supports the following fields:
            **Fields:**
            - `gt` - greater than
            - `gte` - greater than or equal
            - `lt` - less than
            - `lte` - less than or equal

            The values are hours between 0 and 23 (i.e. 24h format).

            E.g. only include events happening between 1pm and 3pm each day.

            **E.g.**
            ```json
            {
              "hour_of_day_start": {
                "gte": 13,
                "lte": 15
              }
            }
            ```
        location:
          $ref: '#/components/schemas/Location'
          description: |
            Location to calculate features for. You can specify the location as a latitude/longitude (with radius), Place ID(s) or Saved Location ID(s).

            We recommend using a lat/lon+radius or a saved location id (for a point and radius location) as they could define the location of your interest more accurately. To work out a suitable radius around your location we strongly recommend using our Suggested Radius API.

            Note: When using Place IDs or Saved Location IDs a maximum of 3 IDs may be used.

            Note: When using lat/lon+radius, the radius must be in the format <radius><radius_unit>, where <radius> is an integer or a float number up to 2 decimal places and <radius_unit> is one of:
            **Fields:**
            - `m` - meters
            - `km` - kilometers
            - `ft` - feet
            - `mi` - miles
            E.g. using Place IDs:
            ```json
                {
                  "location": {
                    "place_id": [
                      5224323,
                      5811704,
                      4887398
                    ]
                  }
                }
            ```
            E.g. using Saved Location IDs:
            ```json
                {
                  "location": {
                    "saved_location_id": [
                      "BN7ZSw8xza9FviPVfyCycd",
                      "X3uyTFbDOUaX2q_Qh5i31b",
                      "X3uyTFbDOUhrfq_Qh5i31A"
                    ]
                  }
                }
            ```
            E.g. using a latitude/longitude and radius (recommended):
            ```json
                {
                  "location": {
                    "geo": {
                      "lat": 41.75038,
                      "lon": -71.49978,
                      "radius": "2.62mi"
                    }
                  }
                }
            ```
        interval:
          $ref: '#/components/schemas/Interval'
          description: |
            Aggregation interval.

            Possible values:
                **Fields:**
            - `day` (default) for daily aggregation
            - `week` for weekly aggregation
        week_start_day:
          $ref: '#/components/schemas/Weekday'
          description: |
            The weekday to be treated as the start of the week.

            Possible values:
                **Fields:**
            - `monday (default)`
            - `tuesday`
            - `wednesday`
            - `thursday`
            - `friday`
            - `saturday`
            - `sunday`

            Only applicable when interval is set to week.
        predicted_events:
          $ref: '#/components/schemas/PredictedEvents'
          description: |
            Include or Exclude predicted events.

            Supports the following fields:
               **Fields:**
                - `exclude` Possible values:
                    - `true`
                    - `false` (default) Include predicted events
            E.g.
            ```json
            {
              "predicted_events": {
                "exclude": false
              }
            }
            ```
        phq_attendance_academic_graduation:
          $ref: '#/components/schemas/StatsField'
          description: Academic - Graduation
        phq_attendance_academic_social:
          $ref: '#/components/schemas/StatsField'
          description: Academic - Social
        phq_attendance_community:
          $ref: '#/components/schemas/StatsField'
          description: Community
        phq_attendance_concerts:
          $ref: '#/components/schemas/StatsField'
          description: Concerts
        phq_attendance_conferences:
          $ref: '#/components/schemas/StatsField'
          description: Conferences
        phq_attendance_expos:
          $ref: '#/components/schemas/StatsField'
          description: Expos
        phq_attendance_festivals:
          $ref: '#/components/schemas/StatsField'
          description: Festivals
        phq_attendance_performing_arts:
          $ref: '#/components/schemas/StatsField'
          description: Performing Arts
        phq_attendance_sports:
          $ref: '#/components/schemas/StatsField'
          description: Sports
        phq_attendance_school_holidays:
          $ref: '#/components/schemas/StatsField'
          description: School Holidays
        phq_attendance_community_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Community accommodation impact
        phq_attendance_concerts_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Concerts accommodation impact
        phq_attendance_conferences_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Conferences accommodation impact
        phq_attendance_expos_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Expos accommodation impact
        phq_attendance_festivals_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Festivals accommodation impact
        phq_attendance_performing_arts_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Performing Arts accommodation impact
        phq_attendance_sports_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Sports accommodation impact
        phq_attendance_community_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Community hospitality impact
        phq_attendance_concerts_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Concerts hospitality impact
        phq_attendance_conferences_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Conferences hospitality impact
        phq_attendance_expos_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Expos hospitality impact
        phq_attendance_festivals_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Festivals hospitality impact
        phq_attendance_performing_arts_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Performing Arts hospitality impact
        phq_attendance_sports_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Sports hospitality impact
        phq_attendance_community_retail:
          $ref: '#/components/schemas/StatsField'
          description: Community Retail impact
        phq_attendance_concerts_retail:
          $ref: '#/components/schemas/StatsField'
          description: Concerts Retail impact
        phq_attendance_conferences_retail:
          $ref: '#/components/schemas/StatsField'
          description: Conferences Retail impact
        phq_attendance_expos_retail:
          $ref: '#/components/schemas/StatsField'
          description: Expos Retail impact
        phq_attendance_festivals_retail:
          $ref: '#/components/schemas/StatsField'
          description: Festivals Retail impact
        phq_attendance_performing_arts_retail:
          $ref: '#/components/schemas/StatsField'
          description: Performing Arts Retail impact
        phq_attendance_sports_retail:
          $ref: '#/components/schemas/StatsField'
          description: Sports Retail impact
        phq_rank_daylight_savings:
          type: boolean
          title: Phq Rank Daylight Savings
          description: "Daylight Savings  \n_Default: False_"
        phq_rank_health_warnings:
          type: boolean
          title: Phq Rank Health Warnings
          description: "Health Warnings  \n_Default: False_"
        phq_rank_observances:
          type: boolean
          title: Phq Rank Observances
          description: "Observances  \n_Default: False_"
        phq_rank_public_holidays:
          type: boolean
          title: Phq Rank Public Holidays
          description: "Public Holidays  \n_Default: False_"
        phq_rank_school_holidays:
          type: boolean
          title: Phq Rank School Holidays
          description: "School Holidays  \n_Default: False_"
        phq_rank_politics:
          type: boolean
          title: Phq Rank Politics
          description: "Politics  \n_Default: False_"
        phq_rank_academic_session:
          type: boolean
          title: Phq Rank Academic Session
          description: "Academic - Session  \n_Default: False_"
        phq_rank_academic_exam:
          type: boolean
          title: Phq Rank Academic Exam
          description: "Academic - Exam  \n_Default: False_"
        phq_rank_academic_holiday:
          type: boolean
          title: Phq Rank Academic Holiday
          description: "Academic - Holiday  \n_Default: False_"
        phq_impact_observances:
          $ref: '#/components/schemas/StatsField'
          description: Observances
        phq_impact_public_holidays:
          $ref: '#/components/schemas/StatsField'
          description: Public Holidays
        phq_impact_school_holidays:
          $ref: '#/components/schemas/StatsField'
          description: School Holidays
        phq_impact_academic_exam:
          $ref: '#/components/schemas/StatsField'
          description: Academic
        phq_impact_academic_holiday:
          $ref: '#/components/schemas/StatsField'
          description: Academic
        phq_impact_academic_session:
          $ref: '#/components/schemas/StatsField'
          description: Academic
        phq_impact_observances_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: 'Observances (Industry: Accommodation)'
        phq_impact_observances_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: 'Observances (Industry: Hospitality/Food & Beverage)'
        phq_impact_observances_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Observances (Industry: Retail)'
        phq_impact_public_holidays_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: 'Public Holidays (Industry: Accommodation)'
        phq_impact_public_holidays_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: 'Public Holidays (Industry: Hospitality/Food & Beverage*)'
        phq_impact_public_holidays_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Public Holidays (Industry: Retail)'
        phq_impact_severe_weather_air_quality_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Air Quality (Industry: Retail)'
        phq_impact_severe_weather_blizzard_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Blizzard (Industry: Retail)'
        phq_impact_severe_weather_cold_wave_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Cold Wave - (All) (Industry: Retail)'
        phq_impact_severe_weather_cold_wave_snow_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Cold Wave - Snow (Industry: Retail)'
        phq_impact_severe_weather_cold_wave_storm_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Cold Wave - Storm (Industry: Retail)'
        phq_impact_severe_weather_dust_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Dust - (All) (Industry: Retail)'
        phq_impact_severe_weather_dust_storm_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Dust - Storm (Industry: Retail)'
        phq_impact_severe_weather_flood_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Flood (Industry: Retail)'
        phq_impact_severe_weather_heat_wave_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Heat Wave (Industry: Retail)'
        phq_impact_severe_weather_hurricane_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Hurricane (Industry: Retail)'
        phq_impact_severe_weather_thunderstorm_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Thunderstorm (Industry: Retail)'
        phq_impact_severe_weather_tornado_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Tornado (Industry: Severe Weather - Tornado) (Industry: Retail)'
        phq_impact_severe_weather_tropical_storm_retail:
          $ref: '#/components/schemas/StatsField'
          description: 'Severe Weather - Tropical Storm (Industry: Retail)'
        phq_viewership_sports:
          $ref: '#/components/schemas/StatsField'
          description: Sports - (All)
        phq_viewership_sports_american_football:
          $ref: '#/components/schemas/StatsField'
          description: American Football - (All)
        phq_viewership_sports_american_football_ncaa_men:
          $ref: '#/components/schemas/StatsField'
          description: American Football - NCAA Men's
        phq_viewership_sports_american_football_nfl:
          $ref: '#/components/schemas/StatsField'
          description: American Football - NFL
        phq_viewership_sports_auto_racing:
          $ref: '#/components/schemas/StatsField'
          description: Automotive Racing - All
        phq_viewership_sports_auto_racing_indy_car:
          $ref: '#/components/schemas/StatsField'
          description: Automotive Racing - Indy Car
        phq_viewership_sports_auto_racing_nascar:
          $ref: '#/components/schemas/StatsField'
          description: Automotive Racing - NASCAR
        phq_viewership_sports_baseball:
          $ref: '#/components/schemas/StatsField'
          description: Baseball - (All)
        phq_viewership_sports_baseball_mlb:
          $ref: '#/components/schemas/StatsField'
          description: Baseball - MLB
        phq_viewership_sports_baseball_ncaa_men:
          $ref: '#/components/schemas/StatsField'
          description: Baseball - NCAA Men's
        phq_viewership_sports_basketball:
          $ref: '#/components/schemas/StatsField'
          description: Basketball - (All)
        phq_viewership_sports_basketball_nba:
          $ref: '#/components/schemas/StatsField'
          description: Basketball - NBA
        phq_viewership_sports_basketball_ncaa_men:
          $ref: '#/components/schemas/StatsField'
          description: Basketball - NCAA Men's
        phq_viewership_sports_basketball_ncaa_women:
          $ref: '#/components/schemas/StatsField'
          description: Basketball - NCAA Women's
        phq_viewership_sports_boxing:
          $ref: '#/components/schemas/StatsField'
          description: Boxing - (All)
        phq_viewership_sports_golf:
          $ref: '#/components/schemas/StatsField'
          description: Golf - (All)
        phq_viewership_sports_golf_masters:
          $ref: '#/components/schemas/StatsField'
          description: Golf - Masters
        phq_viewership_sports_golf_pga_championship:
          $ref: '#/components/schemas/StatsField'
          description: Golf - PGA Championships
        phq_viewership_sports_golf_pga_tour:
          $ref: '#/components/schemas/StatsField'
          description: Golf - PGA Tours
        phq_viewership_sports_golf_us_open:
          $ref: '#/components/schemas/StatsField'
          description: Golf - US Open
        phq_viewership_sports_horse_racing:
          $ref: '#/components/schemas/StatsField'
          description: Horse Racing - (All)
        phq_viewership_sports_horse_racing_belmont_stakes:
          $ref: '#/components/schemas/StatsField'
          description: Horse Racing - Belmont Stakes
        phq_viewership_sports_horse_racing_kentucky_derby:
          $ref: '#/components/schemas/StatsField'
          description: Horse Racing - Kentucky Derby
        phq_viewership_sports_horse_racing_preakness_stakes:
          $ref: '#/components/schemas/StatsField'
          description: Horse Racing - Preakness Stakes
        phq_viewership_sports_ice_hockey:
          $ref: '#/components/schemas/StatsField'
          description: Ice Hockey - (All)
        phq_viewership_sports_ice_hockey_nhl:
          $ref: '#/components/schemas/StatsField'
          description: Ice Hockey - NHL
        phq_viewership_sports_mma:
          $ref: '#/components/schemas/StatsField'
          description: Mixed Martial Arts - (All)
        phq_viewership_sports_mma_ufc:
          $ref: '#/components/schemas/StatsField'
          description: Mixed Martial Arts - UFC
        phq_viewership_sports_soccer:
          $ref: '#/components/schemas/StatsField'
          description: Soccer - (All)
        phq_viewership_sports_soccer_concacaf_champions_league:
          $ref: '#/components/schemas/StatsField'
          description: Soccer - CONCACAF Champions League
        phq_viewership_sports_soccer_concacaf_gold_cup:
          $ref: '#/components/schemas/StatsField'
          description: Soccer - CONCACAF Gold Cup
        phq_viewership_sports_soccer_copa_america_men:
          $ref: '#/components/schemas/StatsField'
          description: Soccer - COPA America Men's
        phq_viewership_sports_soccer_fifa_world_cup_women:
          $ref: '#/components/schemas/StatsField'
          description: Soccer - FIFA World Cup Women's
        phq_viewership_sports_soccer_fifa_world_cup_men:
          $ref: '#/components/schemas/StatsField'
          description: Soccer - FIFA World Cup Men's
        phq_viewership_sports_soccer_mls:
          $ref: '#/components/schemas/StatsField'
          description: Soccer - MLS
        phq_viewership_sports_soccer_uefa_champions_league_men:
          $ref: '#/components/schemas/StatsField'
          description: Soccer - UEFA Champions League Men's
        phq_viewership_sports_softball:
          $ref: '#/components/schemas/StatsField'
          description: Softball - (All)
        phq_viewership_sports_softball_ncaa_women:
          $ref: '#/components/schemas/StatsField'
          description: Softball - NCAA Women's
        phq_viewership_sports_tennis:
          $ref: '#/components/schemas/StatsField'
          description: Tennis - (All)
        phq_viewership_sports_tennis_us_open:
          $ref: '#/components/schemas/StatsField'
          description: Tennis - US Open
        phq_viewership_sports_tennis_wimbledon:
          $ref: '#/components/schemas/StatsField'
          description: Tennis - Wimbledon
        phq_spend_conferences:
          $ref: '#/components/schemas/StatsField'
          description: Conferences
        phq_spend_expos:
          $ref: '#/components/schemas/StatsField'
          description: Expos
        phq_spend_sports:
          $ref: '#/components/schemas/StatsField'
          description: Sports
        phq_spend_community:
          $ref: '#/components/schemas/StatsField'
          description: Community
        phq_spend_concerts:
          $ref: '#/components/schemas/StatsField'
          description: Concerts
        phq_spend_festivals:
          $ref: '#/components/schemas/StatsField'
          description: Festivals
        phq_spend_performing_arts:
          $ref: '#/components/schemas/StatsField'
          description: Performing Arts
        phq_spend_conferences_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Conferences - Accommodation
        phq_spend_expos_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Expos - Accommodation
        phq_spend_sports_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Sports - Accommodation
        phq_spend_community_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Community - Accommodation
        phq_spend_concerts_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Concerts - Accommodation
        phq_spend_festivals_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Festivals - Accommodation
        phq_spend_performing_arts_accommodation:
          $ref: '#/components/schemas/StatsField'
          description: Performing Arts - Accommodation
        phq_spend_conferences_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Conferences - Hospitality
        phq_spend_expos_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Expos - Hospitality
        phq_spend_sports_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Sports - Hospitality
        phq_spend_community_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Community - Hospitality
        phq_spend_concerts_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Concerts - Hospitality
        phq_spend_festivals_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Festivals - Hospitality
        phq_spend_performing_arts_hospitality:
          $ref: '#/components/schemas/StatsField'
          description: Performing Arts - Hospitality
        phq_spend_conferences_transportation:
          $ref: '#/components/schemas/StatsField'
          description: Conferences - Transportation
        phq_spend_expos_transportation:
          $ref: '#/components/schemas/StatsField'
          description: Expos - Transportation
        phq_spend_sports_transportation:
          $ref: '#/components/schemas/StatsField'
          description: Sports - Transportation
        phq_spend_community_transportation:
          $ref: '#/components/schemas/StatsField'
          description: Community - Transportation
        phq_spend_concerts_transportation:
          $ref: '#/components/schemas/StatsField'
          description: Concerts - Transportation
        phq_spend_festivals_transportation:
          $ref: '#/components/schemas/StatsField'
          description: Festivals - Transportation
        phq_spend_performing_arts_transportation:
          $ref: '#/components/schemas/StatsField'
          description: Performing Arts - Transportation
      type: object
      required:
        - active
      title: FeaturesRequestModel
    GeoDistancePoint:
      properties:
        lon:
          type: number
          title: Lon
          description: Longitude float value for geo-point
        lat:
          type: number
          title: Lat
          description: Latitude float value for geo-point
        radius:
          type: string
          title: Radius
          description: Radius value for defining the bounds from geo-point
      type: object
      required:
        - lon
        - lat
      title: GeoDistancePoint
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HourOfDayRange:
      properties:
        gt:
          type: integer
          exclusiveMaximum: 23.0
          minimum: 0.0
          title: Gt
        gte:
          type: integer
          maximum: 23.0
          minimum: 0.0
          title: Gte
        lt:
          type: integer
          maximum: 23.0
          exclusiveMinimum: 0.0
          title: Lt
        lte:
          type: integer
          maximum: 23.0
          minimum: 0.0
          title: Lte
      type: object
      title: HourOfDayRange
    Interval:
      type: string
      enum:
        - day
        - week
      title: Interval
    Location:
      properties:
        place_id:
          items:
            type: integer
          type: array
          title: Place Id
          description: PlaceIDs to aggregate across
        geo:
          $ref: '#/components/schemas/GeoDistancePoint'
        saved_location_id:
          items:
            type: string
          type: array
          title: Saved Location Id
          description: Saved location IDs to aggregate across
      type: object
      title: Location
    PhqAttendanceFeature:
      properties:
        stats:
          $ref: '#/components/schemas/FeatureStats'
      type: object
      required:
        - stats
      title: PhqAttendanceFeature
    PhqFeatureSet:
      properties:
        date:
          type: string
          format: date
          title: Date
          description: |-
            Date in local time.


            E.g. `2023-10-01`
        phq_attendance_academic_graduation:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_attendance_academic_social:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_attendance_community:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_attendance_concerts:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_attendance_conferences:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_attendance_expos:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_attendance_festivals:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_attendance_performing_arts:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_attendance_sports:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_attendance_school_holidays:
          $ref: '#/components/schemas/PhqAttendanceFeature'
        phq_rank_daylight_savings:
          $ref: '#/components/schemas/PhqRankFeature'
        phq_rank_health_warnings:
          $ref: '#/components/schemas/PhqRankFeature'
        phq_rank_observances:
          $ref: '#/components/schemas/PhqRankFeature'
        phq_rank_public_holidays:
          $ref: '#/components/schemas/PhqRankFeature'
        phq_rank_school_holidays:
          $ref: '#/components/schemas/PhqRankFeature'
        phq_rank_politics:
          $ref: '#/components/schemas/PhqRankFeature'
        phq_rank_academic_session:
          $ref: '#/components/schemas/PhqRankFeature'
        phq_rank_academic_exam:
          $ref: '#/components/schemas/PhqRankFeature'
        phq_rank_academic_holiday:
          $ref: '#/components/schemas/PhqRankFeature'
        phq_viewership_sports_american_football:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_auto_racing:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_baseball:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_basketball:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_boxing:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_golf:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_horse_racing:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_ice_hockey:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_mma:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_soccer:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_softball:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_tennis:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_american_football_ncaa:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_american_football_nfl:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_auto_racing_nascar:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_auto_racing_indy_car:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_baseball_ncaa:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_baseball_mlb:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_basketball_ncaa:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_basketball_nba:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_basketball_ncaa_women:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_golf_masters:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_golf_pga_championship:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_golf_us_open:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_golf_pga_tour:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_horse_racing_kentucky_derby:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_horse_racing_preakness_stakes:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_horse_racing_belmont_stakes:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_ice_hockey_nhl:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_mma_ufc:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_soccer_mls:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_soccer_fifa_world_cup_women:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_soccer_fifa_world_cup:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_soccer_uefa_champions_league:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_soccer_concacaf_champions_league:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_soccer_concacaf_gold_cup:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_soccer_copa_america:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_softball_ncaa_women:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_tennis_wimbledon:
          $ref: '#/components/schemas/PhqViewershipFeature'
        phq_viewership_sports_tennis_us_open:
          $ref: '#/components/schemas/PhqViewershipFeature'
      type: object
      required:
        - date
      title: PhqFeatureSet
    PhqFeaturesResponse:
      properties:
        results:
          items:
            $ref: '#/components/schemas/PhqFeatureSet'
          type: array
          title: Results
      type: object
      required:
        - results
      title: PhqFeaturesResponse
    PhqRankFeature:
      properties:
        rank_levels:
          $ref: '#/components/schemas/RankStats'
      type: object
      required:
        - rank_levels
      title: PhqRankFeature
    PhqStatisticsFeatureCriteria:
      properties:
        stats:
          items:
            type: string
            enum:
              - avg
              - count
              - max
              - median
              - min
              - sum
              - std_dev
            title: StatsFieldTypes
          type: array
          maxItems: 7
          title: Stats
          description: Selection of statistics to process
          default:
            - sum
            - count
        phq_rank:
          properties:
            gt:
              type: integer
              exclusiveMaximum: 100.0
              minimum: 0.0
              title: Gt
            gte:
              type: integer
              maximum: 100.0
              minimum: 0.0
              title: Gte
            lt:
              type: integer
              maximum: 100.0
              exclusiveMinimum: 0.0
              title: Lt
            lte:
              type: integer
              maximum: 100.0
              minimum: 0.0
              title: Lte
          type: object
          title: RankRange
          description: Definition af phq rank range filter criteria
          default: {}
        local_rank:
          properties:
            gt:
              type: integer
              exclusiveMaximum: 100.0
              minimum: 0.0
              title: Gt
            gte:
              type: integer
              maximum: 100.0
              minimum: 0.0
              title: Gte
            lt:
              type: integer
              maximum: 100.0
              exclusiveMinimum: 0.0
              title: Lt
            lte:
              type: integer
              maximum: 100.0
              minimum: 0.0
              title: Lte
          type: object
          title: RankRange
          description: Definition af local rank range filter criteria
          default: {}
      type: object
      title: PhqStatisticsFeatureCriteria
    PhqViewershipFeature:
      properties:
        stats:
          $ref: '#/components/schemas/FeatureStats'
      type: object
      required:
        - stats
      title: PhqViewershipFeature
    PredictedEvents:
      properties:
        exclude:
          type: boolean
          title: Exclude
          description: Exclude predicted events
          default: false
      type: object
      title: PredictedEvents
    RankRange:
      properties:
        gt:
          type: integer
          exclusiveMaximum: 100.0
          minimum: 0.0
          title: Gt
        gte:
          type: integer
          maximum: 100.0
          minimum: 0.0
          title: Gte
        lt:
          type: integer
          maximum: 100.0
          exclusiveMinimum: 0.0
          title: Lt
        lte:
          type: integer
          maximum: 100.0
          minimum: 0.0
          title: Lte
      type: object
      title: RankRange
    RankStats:
      properties:
        '1':
          type: integer
          title: '1'
          default: 0
        '2':
          type: integer
          title: '2'
          default: 0
        '3':
          type: integer
          title: '3'
          default: 0
        '4':
          type: integer
          title: '4'
          default: 0
        '5':
          type: integer
          title: '5'
          default: 0
      type: object
      title: RankStats
    StatsField:
      $ref: '#/components/schemas/PhqStatisticsFeatureCriteria'
    StatsFieldTypes:
      type: string
      enum:
        - avg
        - count
        - max
        - median
        - min
        - sum
        - std_dev
      title: StatsFieldTypes
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
    Weekday:
      type: string
      enum:
        - monday
        - tuesday
        - wednesday
        - thursday
        - friday
        - saturday
        - sunday
      title: Weekday
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: $API_KEY
      description: |
        Use 'Authorization: Bearer <YOUR_API_KEY>' as documented at https://docs.predicthq.com/authentication
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Limit the number of results.
      required: false
      schema:
        type: integer
        default: 10
    OffsetParam:
      name: offset
      in: query
      description: Offset the results.
      required: false
      schema:
        type: integer
        default: 0
security:
  - BearerAuth: []
x-hideTryItPanel: true
externalDocs:
  url: https://docs.predicthq.com
  description: PredictHQ Tech Docs
tags:
  - externalDocs:
      description: Features API
      url: https://docs.predicthq.com/api/features/get-features
    name: Features API
