openapi: 3.1.0
info:
  title: PredictHQ Forecasts API (Public Preview)
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.predicthq.com/legal/terms
  description: |
    The Forecasts API delivers fast, accurate, and scalable demand forecasts—powered by the real-world events that impact your business. Whether you’re starting from scratch or augmenting an existing model, our event-driven forecasting approach improves accuracy, unlocking significant ROI and cutting development time by months.
security:
  - BearerAuth: []
tags:
  - name: Models
    externalDocs:
      url: https://docs.predicthq.com/api/forecasts/models
      description: Models Docs
  - name: Demand Data
    externalDocs:
      url: https://docs.predicthq.com/api/forecasts/demand-data
      description: Demand Data Docs
  - name: Forecasts
    externalDocs:
      url: https://docs.predicthq.com/api/forecasts/forecasts
      description: Forecasts Docs
  - name: Algorithms
    externalDocs:
      url: https://docs.predicthq.com/api/forecasts/algos
      description: Algorithms Docs
servers:
  - url: https://api.predicthq.com
externalDocs:
  url: https://docs.predicthq.com
  description: PredictHQ Tech Docs
x-hideTryItPanel: true
paths:
  /v1/forecasts/algos:
    get:
      operationId: list_algorithms
      summary: Get Algorithms
      description: Returns the list of available forecasting algorithms. Currently one algorithm is offered (`phq-xgboost`) based on XGBoost.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlgoResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
      tags:
        - Algorithms
  /v1/forecasts/models:
    post:
      operationId: create_model
      summary: Create Model
      description: |-
        Creates a new forecast model. You must provide a `name` and a `location` (via a Saved Location ID). Optionally specify `demand_type`, `label`, `external_id`, `forecast_window`, `algo`, and `generate_baseline`.

        After creating a model, upload historical demand data using the Create Demand Data endpoint, then trigger training.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModelRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModelResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/HTTPValidationError'
              examples:
                invalidRequest:
                  summary: Invalid request parameter
                  value:
                    error: Request contains invalid data
                    details:
                      - field: body.location.saved_location_id
                        msg: Field required
                        type: missing
                businessLogicError:
                  summary: Business logic error
                  value:
                    error: Saved Location not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
      tags:
        - Models
    get:
      operationId: list_models
      summary: Search Models
      description: Returns a paginated list of forecast models belonging to the authenticated organization. Supports full-text search across `name`, `label`, and `external_id` via the `q` parameter, and filtering by Saved Location ID and readiness status.
      parameters:
        - name: q
          in: query
          description: Fulltext search across `name`, `label` and `external_id`.
          required: false
          schema:
            type: string
        - name: location.saved_location_id
          in: query
          description: A comma-separated list of Saved Location IDs to filter on.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: readiness_status
          in: query
          description: |-
            A comma-separated list of forecast model statuses to filter on.

            - `created`: Model has been created but not yet trained.
            - `preparing`: Model is locked and gathering data prior to training.
            - `training`: Model is currently being trained on uploaded demand data.
            - `forecasting`: Model is generating forecasts.
            - `ready`: Model has successfully generated forecasts and is available for queries.
            - `stale`: Model configuration or data has changed; retraining is required.
            - `failed`: Processing encountered an error.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - created
                - failed
                - forecasting
                - preparing
                - ready
                - stale
                - training
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchModelResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HTTPValidationError'
                  - $ref: '#/components/schemas/QueryValidationError'
              examples:
                invalidQueryParameter:
                  summary: Invalid query parameter
                  value:
                    error:
                      - field: readiness_status
                        msg: Input should be 'created', 'failed', 'forecasting', 'preparing', 'ready', 'stale' or 'training'
                        type: enum
                invalidPaginationParameter:
                  summary: Pagination limit exceeded
                  value:
                    error: Request contains invalid data
                    details:
                      - field: query.limit/offset
                        msg: Tried to fetch more results than the maximum allowed. Please reduce limit/offset.
                        type: value_error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
      tags:
        - Models
  /v1/forecasts/models/{model_id}:
    get:
      operationId: get_model
      summary: Get Model
      description: Retrieves a single forecast model by ID, including its current readiness status, configuration, accuracy metrics, and location details.
      parameters:
        - name: model_id
          in: path
          description: The unique identifier of the forecast model.
          required: true
          schema:
            type: string
            title: Model Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetModelResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Model not found
      tags:
        - Models
    put:
      operationId: update_model
      summary: Replace Model
      description: Replaces the full configuration of an existing forecast model. This is a full replacement — all mutable fields should be provided. Changes to `location`, `demand_type`, `forecast_window`, `algo`, or `generate_baseline` are blocked while the model is in `preparing`, `training`, or `forecasting` status. Changing any of those fields sets the model to `stale` status, requiring re-training to take effect.
      parameters:
        - name: model_id
          in: path
          description: The unique identifier of the forecast model.
          required: true
          schema:
            type: string
            title: Model Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceModelRequest'
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/HTTPValidationError'
              examples:
                invalidRequest:
                  summary: Invalid request parameter
                  value:
                    error: Request contains invalid data
                    details:
                      - field: body.location.saved_location_id
                        msg: Field required
                        type: missing
                businessLogicError:
                  summary: Business logic error
                  value:
                    error: Saved Location not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Model not found
      tags:
        - Models
    patch:
      operationId: patch_model
      summary: Update Model
      description: Partially updates an existing forecast model. Only the fields provided in the request body will be changed. Changes to `location`, `demand_type`, `forecast_window`, `algo`, or `generate_baseline` are blocked while the model is in `preparing`, `training`, or `forecasting` status. Changing any of those fields sets the model to `stale` status, requiring re-training to take effect.
      parameters:
        - name: model_id
          in: path
          description: The unique identifier of the forecast model.
          required: true
          schema:
            type: string
            title: Model Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateModelRequest'
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/HTTPValidationError'
              examples:
                invalidRequest:
                  summary: Invalid request parameter
                  value:
                    error: Request contains invalid data
                    details:
                      - field: body.location.saved_location_id
                        msg: Field required
                        type: missing
                businessLogicError:
                  summary: Business logic error
                  value:
                    error: Saved Location not found
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Model not found
      tags:
        - Models
    delete:
      operationId: delete_model
      summary: Delete Model
      description: Permanently deletes a forecast model and all associated demand data and forecasts. The model must not be in `preparing`, `training`, or `forecasting` status. This action is irreversible.
      parameters:
        - name: model_id
          in: path
          description: The unique identifier of the forecast model.
          required: true
          schema:
            type: string
            title: Model Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Current model readiness state is 'preparing', which doesn't allow deletion
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Model not found
      tags:
        - Models
  /v1/forecasts/models/{model_id}/demand:
    post:
      operationId: create_demand_data
      summary: Create Model Demand
      description: |-
        Uploads historical demand data for a forecast model. The model must exist and belong to the authenticated organization.

        You can use any of the following content types:
        - `application/json`: A JSON object with a `demand` array of `{date, demand}` objects.
        - `text/csv`: A CSV file with lowercase headers `date,demand` and one row per data point.
        - `application/x-ndjson`: Newline-delimited JSON where each line is a `{date, demand}` object.

        The `date` field should be in `YYYY-MM-DD` format and `demand` must be a non-negative number.
      parameters:
        - name: model_id
          in: path
          description: The unique identifier of the forecast model.
          required: true
          schema:
            type: string
            title: Model Id
        - name: Content-Type
          in: header
          description: Content type of the uploaded payload.
          required: true
          schema:
            type: string
            enum:
              - text/csv
              - application/x-ndjson
              - application/json
            examples:
              - application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModelDemandRequest'
          application/x-ndjson:
            schema:
              description: Newline-delimited JSON where each line is an object with date and demand.
              type: string
            example: |-
              {"date": "2025-01-01", "demand": 100}
              {"date": "2025-01-02", "demand": 150}
          text/csv:
            schema:
              description: CSV with lowercase headers date,demand and multiple rows of values.
              type: string
            example: |-
              date,demand
              2025-01-01,100
              2025-01-02,150
      responses:
        '201':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/HTTPValidationError'
              examples:
                invalidRequest:
                  summary: Invalid request parameter
                  value:
                    error: Request contains invalid data
                    details:
                      - field: body.demand[0].date
                        msg: Input should be a valid date in YYYY-MM-DD format
                        type: date_parsing
                businessLogicError:
                  summary: Business logic error
                  value:
                    error: Current model readiness state is 'training', which doesn't allow demand data upload
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Model not found
      tags:
        - Demand Data
    get:
      operationId: list_demand_data
      summary: Get Demand Data
      description: |-
        Returns the demand data that has been uploaded to the model. Supports filtering by date range.

        By setting the `Accept` header, you can specify the format of the response. The default is JSON.
        Supported formats: `application/json`, `text/csv`, `application/x-ndjson`.
      parameters:
        - name: model_id
          in: path
          description: The unique identifier of the forecast model.
          required: true
          schema:
            type: string
            title: Model Id
        - name: date.gt
          in: query
          description: |-
            Filters demand after the specified date (exclusive).


            Expected format: `YYYY-MM-DD`
          required: false
          schema:
            type: string
            format: date
        - name: date.gte
          in: query
          description: |-
            Filters demand on or after the specified date.


            Expected format: `YYYY-MM-DD`.


            Example: `2025-01-01`
          required: false
          schema:
            type: string
            format: date
        - name: date.lt
          in: query
          description: |-
            Filters demand before the specified date (exclusive).


            Expected format: `YYYY-MM-DD`.
          required: false
          schema:
            type: string
            format: date
        - name: date.lte
          in: query
          description: |-
            Filters demand on or before the specified date.


            Expected format: `YYYY-MM-DD`.


            Example: `2025-01-07`
          required: false
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchDemandResponse'
            application/x-ndjson:
              schema:
                type: string
              example: |-
                {"date": "2025-01-01", "demand": 100.0}
                {"date": "2025-01-02", "demand": 150.0}
            text/csv:
              schema:
                type: string
              example: |-
                date,demand
                2025-01-01,100.0
                2025-01-02,150.0
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HTTPValidationError'
                  - $ref: '#/components/schemas/QueryValidationError'
              examples:
                invalidQueryParameter:
                  summary: Invalid query parameter
                  value:
                    error:
                      - field: date.gte
                        msg: Input should be a valid date in YYYY-MM-DD format
                        type: date_parsing
                invalidPaginationParameter:
                  summary: Pagination limit exceeded
                  value:
                    error: Request contains invalid data
                    details:
                      - field: query.limit/offset
                        msg: Tried to fetch more results than the maximum allowed. Please reduce limit/offset.
                        type: value_error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Model not found
      tags:
        - Demand Data
  /v1/forecasts/models/{model_id}/forecast:
    get:
      operationId: get_forecast
      summary: Get Forecast
      description: Returns the generated forecast results for a trained model. Each result includes a date and predicted demand value. Supports filtering by date range.
      parameters:
        - name: model_id
          in: path
          description: The unique identifier of the forecast model.
          required: true
          schema:
            type: string
            title: Model Id
        - name: date.gt
          in: query
          description: |-
            Filters forecast results after the specified date (exclusive).


            Expected format: `YYYY-MM-DD`
          required: false
          schema:
            type: string
            format: date
        - name: date.gte
          in: query
          description: |-
            Filters forecast results on or after the specified date.


            Expected format: `YYYY-MM-DD`.


            Example: `2025-01-01`
          required: false
          schema:
            type: string
            format: date
        - name: date.lt
          in: query
          description: |-
            Filters forecast results before the specified date (exclusive).


            Expected format: `YYYY-MM-DD`.
          required: false
          schema:
            type: string
            format: date
        - name: date.lte
          in: query
          description: |-
            Filters forecast results on or before the specified date.


            Expected format: `YYYY-MM-DD`.


            Example: `2025-01-07`
          required: false
          schema:
            type: string
            format: date
        - name: include
          in: query
          description: |-
            A comma-separated list of additional fields to include in each forecast result. By default these fields are omitted:

            - `phq_features`: The demand intelligence features used in training and forecasting.
            - `phq_explainability`: The top events impacting demand on each forecasted date.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - phq_features
                - phq_explainability
            title: Include
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchModelForecastResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/HTTPValidationError'
                  - $ref: '#/components/schemas/QueryValidationError'
              examples:
                invalidQueryParameter:
                  summary: Invalid query parameter
                  value:
                    error:
                      - field: date.gte
                        msg: Input should be a valid date in YYYY-MM-DD format
                        type: date_parsing
                invalidPaginationParameter:
                  summary: Pagination limit exceeded
                  value:
                    error: Request contains invalid data
                    details:
                      - field: query.limit/offset
                        msg: Tried to fetch more results than the maximum allowed. Please reduce limit/offset.
                        type: value_error
                businessLogicError:
                  summary: Business logic error
                  value:
                    error: PHQ explainability is not enabled on your subscription.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Model not found
      tags:
        - Forecasts
  /v1/forecasts/models/{model_id}/train:
    post:
      operationId: train_model
      summary: Train Model
      description: |-
        Triggers training for the specified forecast model. The model must have demand data uploaded and be in a state that allows training (e.g. `ready` or `created` with demand data).

        Training runs asynchronously — poll the model's `readiness.status` field to monitor progress.
      parameters:
        - name: model_id
          in: path
          description: The unique identifier of the forecast model.
          required: true
          schema:
            type: string
            title: Model Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Current model readiness state is 'preparing', which doesn't allow triggering training
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Payment required.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientScope:
                  summary: Insufficient token scope
                  value:
                    error: Bearer token scope insufficient
                missingSubscription:
                  summary: Missing forecasts subscription
                  value:
                    error: Missing forecasts subscription.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Model not found
      tags:
        - Models
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: The maximum number of results to return per page. Defaults to `10`.
      required: false
      schema:
        type: integer
        default: 10
    OffsetParam:
      name: offset
      in: query
      description: The number of results to skip before returning. Used for pagination. Defaults to `0`.
      required: false
      schema:
        type: integer
        default: 0
  schemas:
    Accuracy:
      description: Forecast accuracy metrics calculated by comparing predicted values against actual historical values. These metrics help assess how well the model is performing.
      type: object
      properties:
        mape:
          description: Mean Absolute Percentage Error (MAPE). Represents the average absolute percentage difference between forecasted and actual values. Lower values indicate more accurate predictions.
          type: number
        mae:
          description: Mean Absolute Error (MAE). The average of the absolute differences between forecasted and actual values. Useful for understanding the average magnitude of errors in the forecast.
          type: number
        rmse:
          description: Root Mean Squared Error (RMSE). Measures the square root of the average squared differences between forecasted and actual values. It penalizes larger errors more heavily than MAE.
          type: number
        wape:
          description: WAPE quantifies the total forecast error as a percentage of the total actual demand. Unlike MAPE, which gives equal weight to each data point, WAPE weights each error by the size of the actual value. This makes it less sensitive to very small actual values, so it's a more reliable measure of accuracy in some situations.
          type: number
      required:
        - mape
        - mae
        - rmse
        - wape
    Algo:
      type: object
      properties:
        algo:
          description: Algorithm identifier.
          type: string
          const: phq-xgboost
        description:
          description: Human-readable description of the algorithm.
          type: string
          minLength: 1
        status:
          description: Current availability status of the algorithm.
          type: string
          default: current
          enum:
            - beta
            - current
            - deprecated
          minLength: 1
      required:
        - algo
    AlgoType:
      type: string
      const: phq-xgboost
    CreateModelRequest:
      type: object
      properties:
        name:
          description: Name for the forecast model.
          type: string
          minLength: 1
        external_id:
          description: External identifier for the forecast model. If you have an ID for the location/store/property/product-group in your other platforms, use the same ID here to easily connect this specific forecast model.
          type: string
          minLength: 1
        forecast_window:
          description: Number of days into the future to forecast.
          $ref: '#/components/schemas/ForecastWindowDay'
        generate_baseline:
          description: When `true`, generates a baseline model using historical demand data only - without PredictHQ demand intelligence - for benchmarking accuracy against the enhanced model.
          type: boolean
          default: false
          title: Generate Baseline Model
        label:
          description: Set of labels you can use to better identify or group your forecast models.
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
        location:
          description: |-
            Location of your business so we can identify relevant events around the
            location impacting the demand.


            Please create a Saved Location first, that can be reused across multiple forecast
            models if needed.
          $ref: '#/components/schemas/Location'
        algo:
          description: Currently we offer one algorithm based on XGBoost. In the future we may offer additional algos.
          type: string
          default: phq-xgboost
          const: phq-xgboost
        demand_type:
          description: Configuration for the demand data type including the industry and time interval.
          $ref: '#/components/schemas/InputDemandType'
      additionalProperties: false
      required:
        - name
        - location
      title: CreateModelRequest
    CreateModelResponse:
      type: object
      properties:
        errors:
          description: List of error messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          description: List of warning messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Warnings
        model_id:
          description: Unique identifier for the newly created forecast model.
          type: string
          minLength: 1
          title: Model Id
      required:
        - model_id
      title: CreateModelResponse
    DateRange:
      type: object
      properties:
        start:
          description: Start date of the range.
          type: string
          format: date
          title: Start
        end:
          description: End date of the range.
          type: string
          format: date
          title: End
      required:
        - start
        - end
      title: DateRange
    DemandDataMetrics:
      type: object
      properties:
        date_range:
          description: The date range covered by the uploaded demand data.
          $ref: '#/components/schemas/DateRange'
      required:
        - date_range
      title: DemandDataMetrics
    Event:
      type: object
      properties:
        id:
          description: Unique identifier of the event.
          type: string
          minLength: 1
          title: Id
        category:
          description: Category classification of the event (e.g. `conferences`, `sports`, `concerts`).
          type: string
          minLength: 1
          title: Category
        title:
          description: Display name of the event as it appears in the PredictHQ event catalog.
          type: string
          minLength: 1
          title: Title
        start_local:
          description: Start date and time of the event in local time.
          type: string
          format: date-time
          title: Start
        end_local:
          description: End date and time of the event in local time.
          type: string
          format: date-time
          title: End
        phq_rank:
          description: PHQ Rank score from 0–100 indicating the predicted attendance impact of the event.
          type: integer
          maximum: 100
          minimum: 0
          title: PHQ Rank
        local_rank:
          description: Local Rank score from 0–100 indicating relative local significance. Null for non-attended events.
          anyOf:
            - type: integer
              maximum: 100
              minimum: 0
            - type: 'null'
          title: Local Rank
      required:
        - id
        - title
        - category
        - start_local
        - end_local
      title: Event
    Feature:
      type: object
      properties:
        name:
          description: Name of the demand intelligence feature.
          type: string
          minLength: 1
          title: Name
        value:
          description: Numeric value of the feature's contribution to the forecast.
          type: number
          title: Value
      required:
        - name
        - value
      title: Feature
    ForecastWindowDay:
      type: string
      enum:
        - 1d
        - 7d
        - 14d
        - 28d
        - 30d
        - 60d
        - 90d
      title: ForecastWindowDay
    GetAlgoResponse:
      type: object
      properties:
        errors:
          description: List of error messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          description: List of warning messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Warnings
        results:
          description: List of available forecasting algorithms.
          type: array
          items:
            $ref: '#/components/schemas/Algo'
          title: Results
      title: GetAlgoResponse
    GetModelResponse:
      type: object
      properties:
        errors:
          description: List of error messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          description: List of warning messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Warnings
        model:
          description: The forecast model object containing all configuration, status, and metrics.
          $ref: '#/components/schemas/PublicForecastModel'
      required:
        - model
      title: GetModelResponse
    Industry:
      description: Choosing the right industry is important as this will determine the type of features used in the training and forecasting and will impact the accuracy of the results. We will use the applicable Predicted Impact Patterns for the specified industry.
      type: string
      enum:
        - accommodation
        - cpg
        - tourism
        - marketing
        - parking
        - restaurants
        - retail
        - transportation
        - other
      title: Industry
    InputDemandType:
      type: object
      properties:
        interval:
          description: The time interval for demand data aggregation. Currently only `day` is supported.
          $ref: '#/components/schemas/InputInterval'
        industry:
          description: Industry classification determining which Predicted Impact Patterns are applied.
          $ref: '#/components/schemas/Industry'
      title: InputDemandType
    InputInterval:
      type: string
      const: day
      title: InputInterval
    Location:
      type: object
      properties:
        saved_location_id:
          description: The unique identifier of a Saved Location defining the geographic area for this model.
          type: string
          minLength: 1
          title: Saved Location ID
      required:
        - saved_location_id
      title: Location
    PhqExplainability:
      description: List of the top events impacting demand on each date. Use this to help understand the context of how and why events are impacting your demand.
      type: object
      properties:
        events:
          description: List of events impacting demand on the associated date, ordered by impact.
          type: array
          items:
            $ref: '#/components/schemas/Event'
          minItems: 0
    PublicDemand:
      type: object
      properties:
        date:
          description: The date of the demand data point.
          type: string
          format: date
          title: Date
        demand:
          description: The demand value for the date.
          type: number
          minimum: 0
          title: Demand
      required:
        - date
        - demand
      title: PublicDemand
    PublicDemandType:
      type: object
      properties:
        interval:
          description: The time interval for demand data aggregation.
          anyOf:
            - $ref: '#/components/schemas/PublicInterval'
            - type: 'null'
        industry:
          description: Industry classification determining which Predicted Impact Patterns are applied.
          anyOf:
            - $ref: '#/components/schemas/Industry'
            - type: 'null'
      title: PublicDemandType
    PublicForecast:
      type: object
      properties:
        date:
          description: The date of the forecast value.
          type: string
          format: date
          title: Date
        forecast:
          description: The predicted demand value for the date.
          type: number
          title: Forecast
        phq_explainability:
          description: Events impacting demand on this date, ranked by impact. Only present when `phq_explainability` is passed in the `include` query parameter.
          $ref: '#/components/schemas/PhqExplainability'
        phq_features:
          description: List of the features (from our Features API) that were shown to have an impact on the demand. These features were used in training the model and for forecasting.
          type: array
          items:
            $ref: '#/components/schemas/Feature'
          minItems: 1
          title: Phq Features
      required:
        - date
        - forecast
      title: PublicForecast
    PublicForecastModel:
      type: object
      properties:
        algo:
          description: The forecasting algorithm used by this model.
          $ref: '#/components/schemas/AlgoType'
        create_dt:
          description: Timestamp when the model was created.
          type: string
          format: date-time
          title: Create Dt
        demand_type:
          description: Configuration for demand data type including industry and interval.
          anyOf:
            - $ref: '#/components/schemas/PublicDemandType'
            - type: 'null'
        external_id:
          description: User-provided external identifier for cross-referencing with other systems.
          anyOf:
            - type: string
              minLength: 1
            - type: 'null'
          title: External Id
        forecast_window:
          description: Number of days into the future this model forecasts.
          $ref: '#/components/schemas/ForecastWindowDay'
        label:
          description: Set of labels for identifying or grouping forecast models.
          anyOf:
            - items:
                type: string
                minLength: 1
              type: array
              minItems: 1
            - type: 'null'
          title: Label
        location:
          description: The geographic area associated with this model, defined by a Saved Location.
          $ref: '#/components/schemas/Location'
        metrics:
          description: Training and accuracy metrics for the model. Null until the model has been trained.
          anyOf:
            - $ref: '#/components/schemas/PublicMetrics'
            - type: 'null'
        model_id:
          description: Unique identifier for the forecast model.
          type: string
          minLength: 1
          title: Model Id
        name:
          description: Name of the forecast model.
          type: string
          minLength: 1
          title: Name
        readiness:
          description: Current readiness status of the model indicating where it is in the training/forecasting lifecycle.
          $ref: '#/components/schemas/Readiness'
        train_dt:
          description: Timestamp when the model was last successfully trained. Null if never trained.
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
          title: Train Dt
        update_dt:
          description: Timestamp when the model was last updated.
          type: string
          format: date-time
          title: Update Dt
      required:
        - algo
        - create_dt
        - forecast_window
        - location
        - model_id
        - name
        - readiness
        - update_dt
      title: PublicForecastModel
    PublicInterval:
      type: string
      const: day
      title: PublicInterval
    ReadinessStatus:
      type: string
      enum:
        - created
        - failed
        - forecasting
        - preparing
        - ready
        - stale
        - training
      title: ReadinessStatus
    ReplaceModelRequest:
      type: object
      properties:
        name:
          description: Name for the forecast model.
          type: string
          minLength: 1
          title: Name
        external_id:
          description: User-provided external identifier for cross-referencing with other systems.
          anyOf:
            - type: string
              minLength: 1
            - type: 'null'
          title: External Id
        forecast_window:
          description: Number of days into the future to forecast.
          anyOf:
            - $ref: '#/components/schemas/ForecastWindowDay'
            - type: 'null'
        label:
          description: Set of labels you can use to better identify or group your forecast models.
          anyOf:
            - items:
                type: string
                minLength: 1
              type: array
              minItems: 1
            - type: 'null'
          title: Label
        location:
          description: The geographic area for this model, specified by a Saved Location ID.
          $ref: '#/components/schemas/Location'
        algo:
          description: Algorithm to use for forecasting.
          type: string
          default: phq-xgboost
          const: phq-xgboost
        demand_type:
          description: Configuration for demand data type including industry and interval.
          anyOf:
            - $ref: '#/components/schemas/InputDemandType'
            - type: 'null'
      additionalProperties: false
      required:
        - name
        - location
      title: ReplaceModelRequest
    SearchDemandResponse:
      type: object
      properties:
        errors:
          description: List of error messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          description: List of warning messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Warnings
        count:
          description: Total number of results matching the query.
          type: integer
          title: Count
        next:
          description: URL for the next page of results. Null if no more results.
          anyOf:
            - type: string
            - type: 'null'
          title: Next
        previous:
          description: URL for the previous page of results. Null if on the first page.
          anyOf:
            - type: string
            - type: 'null'
          title: Previous
        results:
          description: Array of demand data results for the current page.
          type: array
          items:
            $ref: '#/components/schemas/PublicDemand'
          title: Results
      required:
        - count
      title: SearchDemandResponse
    SearchModelForecastResponse:
      type: object
      properties:
        errors:
          description: List of error messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          description: List of warning messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Warnings
        count:
          description: Total number of results matching the query.
          type: integer
          title: Count
        next:
          description: URL for the next page of results. Null if no more results.
          anyOf:
            - type: string
            - type: 'null'
          title: Next
        previous:
          description: URL for the previous page of results. Null if on the first page.
          anyOf:
            - type: string
            - type: 'null'
          title: Previous
        results:
          description: Array of forecast results for the current page.
          type: array
          items:
            $ref: '#/components/schemas/PublicForecast'
          title: Results
      required:
        - count
      title: SearchModelForecastResponse
    SearchModelResponse:
      type: object
      properties:
        errors:
          description: List of error messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          description: List of warning messages, if any.
          type: array
          items:
            type: string
          default: []
          title: Warnings
        count:
          description: Total number of results matching the query.
          type: integer
          title: Count
        next:
          description: URL for the next page of results. Null if no more results.
          anyOf:
            - type: string
            - type: 'null'
          title: Next
        previous:
          description: URL for the previous page of results. Null if on the first page.
          anyOf:
            - type: string
            - type: 'null'
          title: Previous
        results:
          description: Array of forecast model results for the current page.
          type: array
          items:
            $ref: '#/components/schemas/PublicForecastModel'
          title: Results
      required:
        - count
      title: SearchModelResponse
    TrainingDataMetrics:
      type: object
      properties:
        date_range:
          description: The date range of demand data used for training the model.
          $ref: '#/components/schemas/DateRange'
        missing_pct:
          description: Percentage of dates with missing demand data in the training range (0–100).
          type: number
          default: 0
          maximum: 100
          minimum: 0
          title: Missing Pct
        missing_dates:
          description: List of dates with missing demand data. Null if no dates are missing.
          anyOf:
            - items:
                type: string
                format: date
              type: array
            - type: 'null'
          title: Missing Dates
      required:
        - date_range
      title: TrainingDataMetrics
    UpdateModelRequest:
      type: object
      properties:
        name:
          description: Name for the forecast model.
          anyOf:
            - type: string
              minLength: 1
            - type: 'null'
          title: Name
        external_id:
          description: User-provided external identifier for cross-referencing with other systems.
          anyOf:
            - type: string
              minLength: 1
            - type: 'null'
          title: External Id
        forecast_window:
          description: Number of days into the future to forecast.
          anyOf:
            - $ref: '#/components/schemas/ForecastWindowDay'
            - type: 'null'
        generate_baseline:
          description: When `true`, generates a baseline model using historical demand data only - without PredictHQ demand intelligence - for benchmarking accuracy against the enhanced model.
          type: boolean
          default: false
          title: Generate Baseline
        label:
          description: Set of labels you can use to better identify or group your forecast models.
          anyOf:
            - items:
                type: string
                minLength: 1
              type: array
              minItems: 1
            - type: 'null'
          title: Label
        location:
          description: The geographic area for this model, specified by a Saved Location ID.
          anyOf:
            - $ref: '#/components/schemas/Location'
            - type: 'null'
        algo:
          description: Algorithm to use for forecasting.
          anyOf:
            - $ref: '#/components/schemas/AlgoType'
            - type: 'null'
        demand_type:
          description: Configuration for demand data type including industry and interval.
          anyOf:
            - $ref: '#/components/schemas/InputDemandType'
            - type: 'null'
      additionalProperties: false
      title: UpdateModelRequest
    ErrorResponse:
      type: object
      properties:
        error:
          description: Error message
          type: string
          title: Error
      required:
        - error
      title: ErrorResponse
    ValidationErrorDetail:
      type: object
      properties:
        field:
          description: The field that failed validation
          type: string
          title: Field
        msg:
          description: The validation error message
          type: string
          title: Message
        type:
          description: The type of validation error
          type: string
          title: Error Type
      required:
        - field
        - msg
        - type
      title: ValidationErrorDetail
    HTTPValidationError:
      type: object
      properties:
        error:
          description: Error summary message
          type: string
          title: Error
        details:
          description: List of validation error details
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          title: Details
      required:
        - error
        - details
      title: HTTPValidationError
    QueryValidationError:
      type: object
      properties:
        error:
          description: List of query parameter validation errors
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          title: Error
      required:
        - error
      title: QueryValidationError
    Readiness:
      type: object
      properties:
        status:
          description: Current lifecycle status of the forecast model.
          $ref: '#/components/schemas/ReadinessStatus'
        error_code:
          description: Machine-readable error code when the model is in a failed state.
          anyOf:
            - type: string
            - type: 'null'
          title: Error Code
        error_message:
          description: Human-readable error description when the model is in a failed state.
          anyOf:
            - type: string
            - type: 'null'
          title: Error Message
      required:
        - status
      title: Readiness
    CreateModelDemandRequest:
      type: object
      properties:
        demand:
          description: Array of demand data points to upload. Each item must include a date and demand value.
          type: array
          items:
            $ref: '#/components/schemas/DemandInput'
          minItems: 1
          title: Demand
      additionalProperties: false
      required:
        - demand
    DemandInput:
      type: object
      properties:
        demand:
          description: |-
            Number value (float or integer, must be a positive number).


            For example, it could be units sold, room bookings, or number of staff rostered
            on per day or any other unit.
          type: number
          minimum: 0
        date:
          description: 'Expected format: `2025-02-21`'
          type: string
          format: date
      additionalProperties: false
      required:
        - date
        - demand
    PublicMetrics:
      type: object
      properties:
        accuracy:
          description: Forecast accuracy metrics. Null until training completes successfully.
          anyOf:
            - $ref: '#/components/schemas/Accuracy'
            - type: 'null'
        demand_data:
          description: Statistics about the uploaded demand data including the date range covered.
          $ref: '#/components/schemas/DemandDataMetrics'
        training_data:
          description: Training data statistics including date range and missing data information. Null until training completes.
          anyOf:
            - $ref: '#/components/schemas/TrainingDataMetrics'
            - type: 'null'
      required:
        - demand_data
      title: PublicMetrics
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: $API_KEY
      description: |
        Enter your PredictHQ API key. The Bearer prefix is added automatically.

        When calling the API directly, send: `Authorization: Bearer <YOUR_API_KEY>` as documented at [https://docs.predicthq.com/api/overview/authenticating](https://docs.predicthq.com/api/overview/authenticating)

