openapi: 3.1.0
info:
  title: PredictHQ Forecasts API (Public Preview)
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.predicthq.com/legal/terms
  description: |
    The Forecasts API delivers fast, accurate, and scalable demand forecasts—powered by the real-world events that impact your business. Whether you’re starting from scratch or augmenting an existing model, our event-driven forecasting approach improves accuracy, unlocking significant ROI and cutting development time by months.
security:
  - BearerAuth: []
tags:
  - name: Models
    externalDocs:
      url: https://docs.predicthq.com/api/forecasts/models
      description: Models Docs
  - name: Demand Data
    externalDocs:
      url: https://docs.predicthq.com/api/forecasts/demand-data
      description: Demand Data Docs
  - name: Forecasts
    externalDocs:
      url: https://docs.predicthq.com/api/forecasts/forecasts
      description: Forecasts Docs
  - name: Algorithms
    externalDocs:
      url: https://docs.predicthq.com/api/forecasts/algos
      description: Algorithms Docs
servers:
  - url: https://api.predicthq.com
externalDocs:
  url: https://docs.predicthq.com
  description: PredictHQ Tech Docs
x-hideTryItPanel: true
paths:
  /v1/forecasts/algos:
    get:
      operationId: list_algorithms
      summary: Get Algorithms
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAlgoResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Algorithms
  /v1/forecasts/models:
    post:
      operationId: create_model
      summary: Create Model
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModelRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Models
    get:
      operationId: list_models
      summary: Search Models
      parameters:
        - name: q
          in: query
          description: Fulltext search across `name`, `label` and `external_id`.
          required: false
          schema:
            type: string
        - name: location.saved_location_id
          in: query
          description: A coma-separated list of Saved Location IDs to filter on.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: status
          in: query
          description: A comma-separated list of forecast status.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - created
                - failed
                - forecasting
                - preparing
                - ready
                - stale
                - training
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchModelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Models
  /v1/forecasts/models/{model_id}:
    get:
      operationId: get_model
      summary: Get Model
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
            title: Model Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetModelResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Models
    put:
      operationId: update_model
      summary: Replace Model
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
            title: Model Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReplaceModelRequest'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Models
    patch:
      operationId: patch_model
      summary: Update Model
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
            title: Model Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateModelRequest'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Models
    delete:
      operationId: delete_model
      summary: Delete Model
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
            title: Model Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Models
  /v1/forecasts/models/{model_id}/demand:
    post:
      operationId: create_demand_data
      summary: Create Model Demand
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
            title: Model Id
        - name: Content-Type
          in: header
          description: Content type of the uploaded payload.
          required: true
          schema:
            type: string
            examples:
              - application/json
            enum:
              - text/csv
              - application/x-ndjson
              - application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModelDemandRequest'
          application/x-ndjson:
            schema:
              description: Newline-delimited JSON where each line is an object with date and demand.
              type: string
            example: |-
              {"date": "2025-01-01", "demand": 100}
              {"date": "2025-01-02", "demand": 150}
          text/csv:
            schema:
              description: CSV with lowercase headers date,demand and multiple rows of values.
              type: string
            example: |-
              date,demand
              2025-01-01,100
              2025-01-02,150
      responses:
        '201':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Demand Data
    get:
      operationId: list_demand_data
      summary: Get Demand Data
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
            title: Model Id
        - name: date.gt
          in: query
          description: |-
            Filters demand after the specified date (exclusive).


            Expected format: `YYYY-MM-DD`
          required: false
          schema:
            type: string
            format: date
        - name: date.gte
          in: query
          description: |-
            Filters demand on or after the specified date.


            Expected format: `YYYY-MM-DD`.


            Example: `2025-01-01`
          required: false
          schema:
            type: string
            format: date
        - name: date.lt
          in: query
          description: |-
            Filters demand before the specified date (exclusive).


            Expected format: `YYYY-MM-DD`.
          required: false
          schema:
            type: string
            format: date
        - name: date.lte
          in: query
          description: |-
            Filters demand on or before the specified date.


            Expected format: `YYYY-MM-DD`.


            Example: `2025-01-07`
          required: false
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchDemandResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Demand Data
  /v1/forecasts/models/{model_id}/forecast:
    get:
      operationId: get_forecast
      summary: Get Forecast
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
            title: Model Id
        - name: date.gt
          in: query
          description: |-
            Filters forecast results after the specified date (exclusive).


            Expected format: `YYYY-MM-DD`
          required: false
          schema:
            type: string
            format: date
        - name: date.gte
          in: query
          description: |-
            Filters forecast results on or after the specified date.


            Expected format: `YYYY-MM-DD`.


            Example: `2025-01-01`
          required: false
          schema:
            type: string
            format: date
        - name: date.lt
          in: query
          description: |-
            Filters forecast results before the specified date (exclusive).


            Expected format: `YYYY-MM-DD`.
          required: false
          schema:
            type: string
            format: date
        - name: date.lte
          in: query
          description: |-
            Filters forecast results on or before the specified date.


            Expected format: `YYYY-MM-DD`.


            Example: `2025-01-07`
          required: false
          schema:
            type: string
            format: date
        - name: include
          in: query
          description: A comma-separated list of fields to be included in the response. By default `phq_features` and `phq_explainability` are not included.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - phq_features
                - phq_explainability
            title: Include
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchModelForecastResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Forecasts
  /v1/forecasts/models/{model_id}/train:
    post:
      operationId: train_model
      summary: Train Model
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
            title: Model Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Models
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Limit the number of results.
      required: false
      schema:
        type: integer
        default: 10
    OffsetParam:
      name: offset
      in: query
      description: Offset the results.
      required: false
      schema:
        type: integer
        default: 0
  schemas:
    Accuracy:
      description: Forecast accuracy metrics calculated by comparing predicted values against actual historical values. These metrics help assess how well the model is performing.
      type: object
      properties:
        mape:
          description: Mean Absolute Percentage Error (MAPE). Represents the average absolute percentage difference between forecasted and actual values. Lower values indicate more accurate predictions.
          type: number
        mae:
          description: Mean Absolute Error (MAE). The average of the absolute differences between forecasted and actual values. Useful for understanding the average magnitude of errors in the forecast.
          type: number
        rmse:
          description: Root Mean Squared Error (RMSE). Measures the square root of the average squared differences between forecasted and actual values. It penalizes larger errors more heavily than MAE.
          type: number
        wape:
          description: WAPE quantifies the total forecast error as a percentage of the total actual demand. Unlike MAPE, which gives equal weight to each data point, WAPE weights each error by the size of the actual value. This makes it less sensitive to very small actual values, so it's a more reliable measure of accuracy in some situations.
          type: number
      required:
        - mape
        - mae
        - rmse
        - wape
    Algo:
      type: object
      properties:
        algo:
          type: string
          const: phq-xgboost
        description:
          type: string
          minLength: 1
        status:
          type: string
          default: current
          enum:
            - beta
            - current
            - deprecated
          minLength: 1
      required:
        - algo
    AlgoType:
      type: string
      const: phq-xgboost
    CreateModelRequest:
      type: object
      properties:
        name:
          description: Name for the forecast model.
          type: string
          minLength: 1
        external_id:
          description: External identifier for the forecast model. If you have an ID for the location/store/property/product-group in your other platforms, use the same ID here to easily connect this specific forecast model.
          type: string
          minLength: 1
        forecast_window:
          description: Number of days into the future to forecast.
          $ref: '#/components/schemas/ForecastWindowDay'
        generate_baseline:
          type: boolean
          default: false
          title: Generate Baseline
        label:
          description: Set of labels you can use to better identify or group your forecast models.
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
        location:
          description: |-
            Location of your business so we can identify relevant events around the
            location impacting the demand.


            Please create a Saved Location first, that can be reused across multiple forecast
            models if needed.
          $ref: '#/components/schemas/Location'
        algo:
          description: Currently we offer one algorithm based on XGBoost. In the future we may offer additional algos.
          type: string
          default: phq-xgboost
          const: phq-xgboost
        demand_type:
          $ref: '#/components/schemas/InputDemandType'
      additionalProperties: false
      required:
        - name
        - location
      title: CreateModelRequest
    CreateModelResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          type: array
          items:
            type: string
          default: []
          title: Warnings
        model_id:
          type: string
          minLength: 1
          title: Model Id
      required:
        - model_id
      title: CreateModelResponse
    DateRange:
      type: object
      properties:
        start:
          type: string
          format: date
          title: Start
        end:
          type: string
          format: date
          title: End
      required:
        - start
        - end
      title: DateRange
    DemandDataMetrics:
      type: object
      properties:
        date_range:
          $ref: '#/components/schemas/DateRange'
      required:
        - date_range
      title: DemandDataMetrics
    Event:
      type: object
      properties:
        id:
          type: string
          minLength: 1
          title: Id
        category:
          type: string
          minLength: 1
          title: Title
        title:
          type: string
          minLength: 1
          title: Title
        start_local:
          type: string
          format: date-time
          title: Start
        end_local:
          type: string
          format: date-time
          title: End
        phq_rank:
          type: integer
          maximum: 100
          minimum: 0
          title: PHQ Rank
        local_rank:
          anyOf:
            - type: integer
              maximum: 100
              minimum: 0
            - type: 'null'
          title: Local Rank
      required:
        - id
        - title
        - category
        - start_local
        - end_local
      title: Event
    Feature:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          title: Name
        value:
          type: number
          title: Value
      required:
        - name
        - value
      title: Feature
    ForecastWindowDay:
      type: string
      enum:
        - 1d
        - 7d
        - 14d
        - 28d
        - 30d
        - 60d
        - 90d
      title: ForecastWindowDay
    GetAlgoResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          type: array
          items:
            type: string
          default: []
          title: Warnings
        results:
          type: array
          items:
            $ref: '#/components/schemas/Algo'
          title: Results
      title: GetAlgoResponse
    GetModelResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          type: array
          items:
            type: string
          default: []
          title: Warnings
        model:
          $ref: '#/components/schemas/PublicForecastModel'
      required:
        - model
      title: GetModelResponse
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    Industry:
      description: Choosing the right industry is important as this will determine the type of features used in the training and forecasting and will impact the accuracy of the results. We will use the applicable Predicted Impact Patterns for the specified industry.
      type: string
      enum:
        - accommodation
        - cpg
        - tourism
        - marketing
        - parking
        - restaurants
        - retail
        - transportation
        - other
      title: Industry
    InputDemandType:
      type: object
      properties:
        interval:
          $ref: '#/components/schemas/InputInterval'
        industry:
          $ref: '#/components/schemas/Industry'
      title: InputDemandType
    InputInterval:
      type: string
      const: day
      title: InputInterval
    Location:
      type: object
      properties:
        saved_location_id:
          type: string
          minLength: 1
          title: Saved Location ID
      required:
        - saved_location_id
      title: Location
    PhqExplainability:
      description: List of the top events impacting demand on each date. Use this to help understand the context of how and why events are impacting your demand.
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
          minItems: 0
    PublicDemand:
      type: object
      properties:
        date:
          type: string
          format: date
          title: Date
        demand:
          type: number
          minimum: 0
          title: Demand
      required:
        - date
        - demand
      title: PublicDemand
    PublicDemandType:
      type: object
      properties:
        interval:
          anyOf:
            - $ref: '#/components/schemas/PublicInterval'
            - type: 'null'
        industry:
          anyOf:
            - $ref: '#/components/schemas/Industry'
            - type: 'null'
      title: PublicDemandType
    PublicForecast:
      type: object
      properties:
        date:
          type: string
          format: date
          title: Date
        forecast:
          type: number
          title: Forecast
        phq_explainability:
          $ref: '#/components/schemas/PhqExplainability'
        phq_features:
          description: List of the features (from our Features API) that were shown to have an impact on the demand. These features were used in training the model and for forecasting.
          type: array
          items:
            $ref: '#/components/schemas/Feature'
          minItems: 1
          title: Phq Features
      required:
        - date
        - forecast
      title: PublicForecast
    PublicForecastModel:
      type: object
      properties:
        algo:
          $ref: '#/components/schemas/AlgoType'
        create_dt:
          type: string
          format: date-time
          title: Create Dt
        demand_type:
          anyOf:
            - $ref: '#/components/schemas/PublicDemandType'
            - type: 'null'
        external_id:
          anyOf:
            - type: string
              minLength: 1
            - type: 'null'
          title: External Id
        forecast_window:
          $ref: '#/components/schemas/ForecastWindowDay'
        label:
          anyOf:
            - items:
                type: string
                minLength: 1
              type: array
              minItems: 1
            - type: 'null'
          title: Label
        location:
          $ref: '#/components/schemas/Location'
        metrics:
          anyOf:
            - $ref: '#/components/schemas/PublicMetrics'
            - type: 'null'
        model_id:
          type: string
          minLength: 1
          title: Model Id
        name:
          type: string
          minLength: 1
          title: Name
        readiness:
          $ref: '#/components/schemas/Readiness'
        train_dt:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
          title: Train Dt
        update_dt:
          type: string
          format: date-time
          title: Update Dt
      required:
        - algo
        - create_dt
        - forecast_window
        - location
        - model_id
        - name
        - readiness
        - update_dt
      title: PublicForecastModel
    PublicInterval:
      type: string
      const: day
      title: PublicInterval
    ReadinessStatus:
      type: string
      enum:
        - created
        - failed
        - forecasting
        - preparing
        - ready
        - stale
        - training
      title: ReadinessStatus
    ReplaceModelRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          title: Name
        external_id:
          anyOf:
            - type: string
              minLength: 1
            - type: 'null'
          title: External Id
        forecast_window:
          anyOf:
            - $ref: '#/components/schemas/ForecastWindowDay'
            - type: 'null'
        label:
          anyOf:
            - items:
                type: string
                minLength: 1
              type: array
              minItems: 1
            - type: 'null'
          title: Label
        location:
          $ref: '#/components/schemas/Location'
        algo:
          type: string
          default: phq-xgboost
          const: phq-xgboost
        demand_type:
          anyOf:
            - $ref: '#/components/schemas/InputDemandType'
            - type: 'null'
      additionalProperties: false
      required:
        - name
        - location
      title: ReplaceModelRequest
    SearchDemandResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          type: array
          items:
            type: string
          default: []
          title: Warnings
        count:
          type: integer
          title: Count
        next:
          anyOf:
            - type: string
            - type: 'null'
          title: Next
        previous:
          anyOf:
            - type: string
            - type: 'null'
          title: Previous
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicDemand'
          title: Results
      required:
        - count
      title: SearchDemandResponse
    SearchModelForecastResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          type: array
          items:
            type: string
          default: []
          title: Warnings
        count:
          type: integer
          title: Count
        next:
          anyOf:
            - type: string
            - type: 'null'
          title: Next
        previous:
          anyOf:
            - type: string
            - type: 'null'
          title: Previous
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicForecast'
          title: Results
      required:
        - count
      title: SearchModelForecastResponse
    SearchModelResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          default: []
          title: Errors
        warnings:
          type: array
          items:
            type: string
          default: []
          title: Warnings
        count:
          type: integer
          title: Count
        next:
          anyOf:
            - type: string
            - type: 'null'
          title: Next
        previous:
          anyOf:
            - type: string
            - type: 'null'
          title: Previous
        results:
          type: array
          items:
            $ref: '#/components/schemas/PublicForecastModel'
          title: Results
      required:
        - count
      title: SearchModelResponse
    TrainingDataMetrics:
      type: object
      properties:
        date_range:
          $ref: '#/components/schemas/DateRange'
        missing_pct:
          type: number
          default: 0
          maximum: 100
          minimum: 0
          title: Missing Pct
        missing_dates:
          anyOf:
            - items:
                type: string
                format: date
              type: array
            - type: 'null'
          title: Missing Dates
      required:
        - date_range
      title: TrainingDataMetrics
    UpdateModelRequest:
      type: object
      properties:
        name:
          anyOf:
            - type: string
              minLength: 1
            - type: 'null'
          title: Name
        external_id:
          anyOf:
            - type: string
              minLength: 1
            - type: 'null'
          title: External Id
        forecast_window:
          anyOf:
            - $ref: '#/components/schemas/ForecastWindowDay'
            - type: 'null'
        generate_baseline:
          type: boolean
          default: false
          title: Generate Baseline
        label:
          anyOf:
            - items:
                type: string
                minLength: 1
              type: array
              minItems: 1
            - type: 'null'
          title: Label
        location:
          anyOf:
            - $ref: '#/components/schemas/Location'
            - type: 'null'
        algo:
          anyOf:
            - $ref: '#/components/schemas/AlgoType'
            - type: 'null'
        demand_type:
          anyOf:
            - $ref: '#/components/schemas/InputDemandType'
            - type: 'null'
      additionalProperties: false
      title: UpdateModelRequest
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
              - type: string
              - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      required:
        - loc
        - msg
        - type
      title: ValidationError
    Readiness:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ReadinessStatus'
        error_code:
          anyOf:
            - type: string
            - type: 'null'
          title: Error Code
        error_message:
          anyOf:
            - type: string
            - type: 'null'
          title: Error Message
      required:
        - status
      title: Readiness
    CreateModelDemandRequest:
      type: object
      properties:
        demand:
          type: array
          items:
            $ref: '#/components/schemas/DemandInput'
          minItems: 1
          title: Demand
      additionalProperties: false
      required:
        - demand
    DemandInput:
      type: object
      properties:
        demand:
          description: |-
            Number value (float or integer, must be a positive number).


            For example, it could be units sold, room bookings, or number of staff rostered
            on per day or any other unit.
          type: number
          minimum: 0
        date:
          description: 'Expected format: `2025-02-21`'
          type: string
          format: date
      additionalProperties: false
      required:
        - date
        - demand
    PublicMetrics:
      type: object
      properties:
        accuracy:
          anyOf:
            - $ref: '#/components/schemas/Accuracy'
            - type: 'null'
        demand_data:
          $ref: '#/components/schemas/DemandDataMetrics'
        training_data:
          anyOf:
            - $ref: '#/components/schemas/TrainingDataMetrics'
            - type: 'null'
      required:
        - demand_data
      title: PublicMetrics
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: $API_KEY
      description: |
        Enter your PredictHQ API key. The Bearer prefix is added automatically.

        When calling the API directly, send: `Authorization: Bearer <YOUR_API_KEY>` as documented at [https://docs.predicthq.com/api/overview/authenticating](https://docs.predicthq.com/api/overview/authenticating)

