openapi: 3.1.0
info:
  title: PredictHQ Impact Area API
  description: Determine a suitable search area around your business when searching for events.
  termsOfService: https://www.predicthq.com/legal/terms
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
security:
  - BearerAuth: []
tags:
  - name: Impact Area API
    externalDocs:
      url: https://docs.predicthq.com/api/impact-area
      description: Impact Area API Docs
servers:
  - url: https://api.predicthq.com
externalDocs:
  url: https://docs.predicthq.com
  description: PredictHQ Tech Docs
x-hideTryItPanel: true
paths:
  /v1/impact-area/:
    get:
      operationId: get_impact_area
      summary: Get Impact Area
      description: Returns an impact area GeoJSON (Polygon or Point with radius) for the given location and industry.
      parameters:
        - name: industry
          in: query
          description: |-
            The industry of interest for which the area will be calculated. For different industries, the area will be different based on the various types of events that would impact the location. For example, if you were getting the impact area around a hotel you'd specify accommodation as the industry.

            E.g. `?industry=accommodation`
          required: false
          schema:
            default: other
            $ref: '#/components/schemas/Industry'
        - name: location.origin
          in: query
          description: |-
            A comma-separated string consisting of the latitude and longitude of the location to find the optimal area for. For example your store or hotel location.

            The format is `<latitude>,<longitude>`

            E.g. `?location.origin=37.747767,-122.455320`
          required: true
          schema:
            type: string
            examples:
              - 37.7749,-122.4194
            pattern: ^-?\d{1,3}(?:\.\d+)?,\-?\d{1,3}(?:\.\d+)?$
        - name: area_type
          in: query
          description: The shape used to represent the returned impact area. Defaults to `polygon`, which returns a GeoJSON Polygon that precisely follows the boundaries of the impact area. Use `radius` for a simpler representation - a GeoJSON Point with a radius property defining a circular impact area.
          required: false
          schema:
            default: polygon
            $ref: '#/components/schemas/AreaType'
        - name: radius_unit
          in: query
          description: The unit of measurement to be used for the radius if `area_type` is set to `radius`. This can be one of `m` (meters), `km` (kilometers), `ft` (feet), or `mi` (miles).
          required: false
          schema:
            default: m
            $ref: '#/components/schemas/RadiusUnit'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictedAreaResponse'
              examples:
                polygon:
                  summary: Polygon response (area_type=polygon, default)
                  value:
                    geojson:
                      type: Feature
                      geometry:
                        type: Polygon
                        coordinates:
                          - - - -122.4194
                              - 37.7649
                            - - -122.4095
                              - 37.7649
                            - - -122.4035
                              - 37.771
                            - - -122.4095
                              - 37.781
                            - - -122.4194
                              - 37.781
                            - - -122.4254
                              - 37.771
                            - - -122.4194
                              - 37.7649
                    location:
                      lat: '37.7749'
                      lon: '-122.4194'
                    warnings: []
                radius:
                  summary: Radius response (area_type=radius)
                  value:
                    geojson:
                      type: Feature
                      properties:
                        radius: 1500
                        radius_unit: m
                      geometry:
                        type: Point
                        coordinates:
                          - -122.4194
                          - 37.7749
                    location:
                      lat: '37.7749'
                      lon: '-122.4194'
                    warnings: []
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Insufficient permissions
        '429':
          description: Rate limit exceeded. See [Rate Limiting](https://docs.predicthq.com/api/overview/rate-limits) for details on limits and retry guidance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Too many requests. Please retry later.
      tags:
        - Impact Area API
components:
  schemas:
    AreaType:
      type: string
      enum:
        - polygon
        - radius
      title: AreaType
    GeoJsonFeature:
      type: object
      properties:
        type:
          description: GeoJSON type identifier
          type: string
          default: Feature
          const: Feature
          title: Type
        properties:
          description: Feature properties, including radius details for Point geometries
          anyOf:
            - $ref: '#/components/schemas/RadiusProperties'
            - type: 'null'
        geometry:
          description: The GeoJSON geometry (Point, Polygon, or MultiPolygon)
          discriminator:
            propertyName: type
            mapping:
              MultiPolygon: '#/components/schemas/MultiPolygon'
              Point: '#/components/schemas/Point'
              Polygon: '#/components/schemas/Polygon'
          oneOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
          title: Geometry
      required:
        - geometry
      title: GeoJsonFeature
    HTTPValidationError:
      type: object
      properties:
        error:
          description: Error summary message
          type: string
          title: Error
        details:
          description: List of validation error details
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          title: Details
      required:
        - error
        - details
      title: HTTPValidationError
    Industry:
      type: string
      enum:
        - parking
        - restaurants
        - retail
        - accommodation
        - cpg
        - tourism
        - marketing
        - transportation
        - other
      title: Industry
    LocationResponse:
      description: |-
        A json object representing the geo location of the event.

        E.g.:
        ```json
        {
          "lat": "37.747767",
          "lon": "-122.455320"
        }
        ```
      type: object
      properties:
        lat:
          description: Latitude of the location
          type: string
          title: Lat
        lon:
          description: Longitude of the location
          type: string
          title: Lon
      required:
        - lat
        - lon
      title: Location
    MultiPolygon:
      type: object
      properties:
        type:
          description: GeoJSON geometry type
          type: string
          default: MultiPolygon
          const: MultiPolygon
          title: Type
        coordinates:
          description: Array of polygon coordinate arrays
          type: array
          items:
            items:
              items:
                anyOf:
                  - prefixItems:
                      - type: number
                      - type: number
                    type: array
                    maxItems: 2
                    minItems: 2
                  - prefixItems:
                      - type: number
                      - type: number
                      - type: number
                    type: array
                    maxItems: 3
                    minItems: 3
              type: array
            type: array
          title: Coordinates
      required:
        - coordinates
      title: MultiPolygon
    Point:
      type: object
      properties:
        type:
          description: GeoJSON geometry type
          type: string
          default: Point
          const: Point
          title: Type
        coordinates:
          description: GeoJSON position as [longitude, latitude]
          anyOf:
            - prefixItems:
                - type: number
                - type: number
              type: array
              maxItems: 2
              minItems: 2
            - prefixItems:
                - type: number
                - type: number
                - type: number
              type: array
              maxItems: 3
              minItems: 3
          title: Coordinates
      required:
        - coordinates
      title: Point
    Polygon:
      type: object
      properties:
        type:
          description: GeoJSON geometry type
          type: string
          default: Polygon
          const: Polygon
          title: Type
        coordinates:
          description: Array of linear rings, each being an array of [longitude, latitude] positions
          type: array
          items:
            items:
              anyOf:
                - prefixItems:
                    - type: number
                    - type: number
                  type: array
                  maxItems: 2
                  minItems: 2
                - prefixItems:
                    - type: number
                    - type: number
                    - type: number
                  type: array
                  maxItems: 3
                  minItems: 3
            type: array
          title: Coordinates
      required:
        - coordinates
      title: Polygon
    PredictedAreaResponse:
      type: object
      properties:
        location:
          description: Origin location
          $ref: '#/components/schemas/LocationResponse'
        warnings:
          description: Warnings about the response
          type: array
          items:
            type: string
          title: Warnings
        geojson:
          description: GeoJSON Feature with predicted area geometry
          $ref: '#/components/schemas/GeoJsonFeature'
      required:
        - location
        - geojson
      title: PredictedAreaResponse
    RadiusProperties:
      type: object
      properties:
        radius:
          description: The radius value in the specified radius_unit
          anyOf:
            - type: number
            - type: 'null'
          title: Radius
        radius_unit:
          description: The unit of measurement for the radius
          anyOf:
            - $ref: '#/components/schemas/RadiusUnit'
            - type: 'null'
      title: RadiusProperties
    RadiusUnit:
      description: |-
        The unit of the radius returned.

        This will be the unit specified in the radius_unit parameter in the call made.
      type: string
      enum:
        - m
        - km
        - ft
        - mi
      title: RadiusUnit
    ValidationErrorDetail:
      type: object
      properties:
        field:
          description: The field that failed validation
          type: string
          title: Field
        msg:
          description: The validation error message
          type: string
          title: Message
        type:
          description: The type of validation error
          type: string
          title: Error Type
      required:
        - field
        - msg
        - type
      title: ValidationErrorDetail
    ErrorResponse:
      type: object
      properties:
        error:
          description: Error message
          type: string
          title: Error
      required:
        - error
      title: ErrorResponse
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: $API_KEY
      description: |
        Enter your PredictHQ API key. The Bearer prefix is added automatically.

        When calling the API directly, send: `Authorization: Bearer <YOUR_API_KEY>` as documented at [https://docs.predicthq.com/api/overview/authenticating](https://docs.predicthq.com/api/overview/authenticating)

