openapi: 3.1.0
info:
  title: PredictHQ Places API
  description: The Places API gives you a read-only interface to PredictHQ's places data. A place represents a [Geonames](http://www.geonames.org/) Feature, which can be either an Area, an Administrative Feature, or a Populated Place.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.predicthq.com/legal/terms
security:
  - BearerAuth: []
tags:
  - name: Places
    externalDocs:
      url: https://docs.predicthq.com/api/places/search-places
      description: Places Docs
  - name: Hierarchies
    externalDocs:
      url: https://docs.predicthq.com/api/places/get-place-hierarchies
      description: Hierarchies Docs
servers:
  - url: https://api.predicthq.com
externalDocs:
  url: https://docs.predicthq.com
  description: PredictHQ Tech Docs
x-hideTryItPanel: true
paths:
  /v1/places/hierarchies:
    get:
      operationId: list_place_hierarchies
      summary: Get Place Hierarchies
      description: |-
        Return the administrative hierarchy chain for one or more places.

        Exactly one of `location.place_id` or `location.origin` must be provided — supplying both
        or neither returns `400`.

        **By place ID** (`location.place_id`):
        Returns stored hierarchies for the given place IDs. Results are paginated over the matched
        places. The `country` filter is not applied in this mode.

        **By coordinates** (`location.origin`):
        Finds the nearest locality to the given `lat,lon` and returns its hierarchy chain.

        - When `level` is `region` or above (`planet`, `continent`, `country`, `region`),
          only nearby localities are considered.
        - When `level` is more granular than `region` (`county`, `localadmin`, `locality`,
          `neighbourhood`) or not specified, the search is extended to include major and metro
          areas within the same region as the nearest locality.
        - If no locality is found at the exact coordinates, a **500 km fallback radius** is
          applied before giving up.
        - Use `country` (comma-separated ISO 3166-1 alpha-2 codes) to restrict the coordinate
          lookup to specific countries.

        Use `level` to scope which hierarchy levels are returned.

        Results are paginated with `offset` and `limit`.
      parameters:
        - name: location.place_id
          in: query
          description: |-
            A comma-separated list of place_id in the form `{place_id1},{place_id2}`,....

            Please note that you must specify either `location.origin` or `location.place_id` in your request.


            E.g. `?location.place_id=5809844,6252001`
          required: false
          schema:
            type: array
            items:
              type: string
            title: Location.Place Id
          explode: false
          style: form
        - name: country
          in: query
          description: |-
            An [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code.


            E.g. `?country=US`
          required: false
          schema:
            type: array
            items:
              type: string
            title: Country
        - name: level
          in: query
          description: |-
            Administrative level at which to return hierarchy results. Defaults to `locality`.

            - `planet` — Earth (top level)
            - `continent` — Continent (e.g. North America, Europe)
            - `country` — Sovereign nation
            - `region` — Administrative level 1 (e.g. US state, Australian state)
            - `county` — Administrative level 2 (e.g. US county)
            - `localadmin` — Local administrative area (e.g. a municipality)
            - `locality` — Populated place (e.g. a city or town)
            - `neighbourhood` — Subdivision of a locality
          required: false
          schema:
            $ref: '#/components/schemas/BaseLevel'
            title: Level
        - name: location.origin
          in: query
          description: |-
            A coordinate in the form `{latitude},{longitude}`.


            Please note that you must specify either `location.origin` or `location.place_id` in your request.


            E.g. `?location.origin=47.615337,-122.203981`
          required: false
          schema:
            type: string
            title: Location.Origin
          explode: false
          style: form
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchiesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/HTTPValidationError'
                  - $ref: '#/components/schemas/QueryValidationError'
              examples:
                missingLocation:
                  summary: Missing hierarchy lookup input
                  value:
                    error: Either location.origin or location.place_id is required
                invalidRequest:
                  summary: Invalid query parameter
                  value:
                    error: Request contains invalid data
                    details:
                      - field: query.limit
                        msg: Input should be less than or equal to 10000
                        type: less_than_equal
                invalidQueryValue:
                  summary: Invalid query parameter value
                  value:
                    error:
                      - field: limit
                        msg: Input should be greater than or equal to 1
                        type: greater_than_equal
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
      tags:
        - Hierarchies
  /v1/places:
    get:
      operationId: list_places
      summary: Search Places
      description: |-
        Search for places by text query, country, geographic coordinates, or place IDs.

        At least one of `q`, `country`, `location`, or `id` must be provided — otherwise
        a `400` is returned.

        **Filtering:**
        - `q` — free-text search on place name.
        - `country` — comma-separated ISO 3166-1 alpha-2 country codes.
        - `location` — coordinates in `lat,lon` or `@lat,lon` format.
          Lat must be between −90 and 90, lon between −180 and 180.
        - `id` — comma-separated place IDs. When `id` is the only filter and no pagination
          parameters are set, an optimised multi-get is used instead of a search query.
        - `type` — comma-separated place types. Accepts admin level values as well as aliases
          (e.g. `local` expands to `neighbourhood`, `locality`, and `localadmin`).

        Results are paginated with `offset` and `limit`.
      parameters:
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: id
          in: query
          description: |-
            A comma-separated list of place identifiers.


            E.g. `?id=5115985`
          required: false
          schema:
            type: array
            items:
              type: string
            title: Id
          explode: false
          style: form
        - name: country
          in: query
          description: |-
            A comma-separated list of [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code.


            E.g. `?country=US`
          required: false
          schema:
            type: array
            items:
              type: string
            title: Country
          explode: false
          style: form
        - name: location
          in: query
          description: |-
            A coordinate in the form `@{latitude},{longitude}`.


            E.g. `?location=@40.66677,-73.88236`
          required: false
          schema:
            type: string
            title: Location
          explode: false
          style: form
        - name: q
          in: query
          description: |-
            A full-text search query.


            E.g. `?q=New+York`
          required: false
          schema:
            type: string
            title: Q
        - name: type
          in: query
          description: |-
            Comma-separated list of place types to filter results. Accepts administrative levels and aliases.

            - `planet` — Earth (top level)
            - `continent` — Continent (e.g. North America, Europe)
            - `country` — Sovereign nation
            - `region` — Administrative level 1 (e.g. US state, Australian state)
            - `county` — Administrative level 2 (e.g. US county)
            - `localadmin` — Local administrative area (e.g. a municipality)
            - `locality` — Populated place (e.g. a city or town)
            - `neighbourhood` — Subdivision of a locality
            - `major` — Major populated place
            - `metro` — Metropolitan area
            - `local` — Alias expanding to `neighbourhood`, `locality`, and `localadmin` combined
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - planet
                - continent
                - country
                - region
                - county
                - localadmin
                - locality
                - neighbourhood
                - major
                - metro
                - local
            title: Type
          explode: false
          style: form
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGeonamesPlacesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - $ref: '#/components/schemas/HTTPValidationError'
                  - $ref: '#/components/schemas/QueryValidationError'
              examples:
                missingQuery:
                  summary: Missing search criteria
                  value:
                    error: You must provide a text, country, location or id query.
                invalidRequest:
                  summary: Invalid query parameter
                  value:
                    error: Request contains invalid data
                    details:
                      - field: query.limit
                        msg: Input should be less than or equal to 10000
                        type: less_than_equal
                invalidQueryValue:
                  summary: Invalid query parameter value
                  value:
                    error:
                      - field: limit
                        msg: Input should be greater than or equal to 1
                        type: greater_than_equal
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
      tags:
        - Places
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Maximum number of results to return per page.
      required: false
      schema:
        type: integer
        default: 10
        maximum: 10000
        minimum: 1
    OffsetParam:
      name: offset
      in: query
      description: Zero-based index of the first result to return.
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
  schemas:
    BaseLevel:
      description: Administrative level of a place in the Geonames hierarchy.
      type: string
      enum:
        - planet
        - continent
        - country
        - region
        - county
        - localadmin
        - locality
        - neighbourhood
      title: BaseLevel
      x-enumDescriptions:
        planet: Earth (top level)
        continent: Continent (e.g. North America, Europe)
        country: Sovereign nation
        region: Administrative level 1 (e.g. US state, Australian state)
        county: Administrative level 2 (e.g. US county)
        localadmin: Local administrative area (e.g. a municipality)
        locality: Populated place (e.g. a city or town)
        neighbourhood: Subdivision of a locality
    HierarchiesResponse:
      type: object
      properties:
        count:
          description: Total number of hierarchy chains matching the query
          type: integer
          title: Count
        next:
          description: URL to next page
          anyOf:
            - type: string
            - type: 'null'
        previous:
          description: URL to previous page
          anyOf:
            - type: string
            - type: 'null'
        place_hierarchies:
          description: Array of hierarchy chains, each an ordered list from broadest to most specific administrative level
          type: array
          items:
            items:
              $ref: '#/components/schemas/HierarchyDetails'
            type: array
          title: Place Hierarchies
      required:
        - count
        - place_hierarchies
      title: HierarchiesResponse
    HierarchyDetails:
      type: object
      properties:
        type:
          description: Administrative level of this hierarchy entry, e.g. `country`, `region`, `locality`
          $ref: '#/components/schemas/BaseLevel'
        place_id:
          description: Unique PredictHQ place identifier for this hierarchy entry
          type: string
          title: Place Id
      required:
        - type
        - place_id
      title: HierarchyDetails
    PublicGeonamesPlaceResponse:
      type: object
      properties:
        id:
          description: |-
            The unique identifier of the place.


            E.g. `5115985`
          type: string
          title: Id
        type:
          description: |-
            The administrative level of the place.


            E.g. `locality`
          $ref: '#/components/schemas/BaseLevel'
        name:
          description: |-
            The name of the place.


            E.g. `East New York`
          type: string
          title: Name
        county:
          description: |-
            The name of the place's administrative level 2 place, or `null` if it does not apply.


            E.g. `Kings County`
          type: string
          title: County
        region:
          description: |-
            The name of the place's administrative level 1 place, or `null` if it does not apply.


            E.g. `East New York`
          type: string
          title: Region
        country:
          description: |-
            The name of the place's administrative level 0 place, or `null` if it does not apply.


            E.g. `United States`
          type: string
          title: Country
        country_alpha2:
          description: |-
            The ISO 3166-1 alpha-2 country code, or `null` if there is no country.


            E.g. `US`
          type: string
          title: Country Alpha2
        country_alpha3:
          description: |-
            The ISO 3166-1 alpha-3 country code, or `null` if there is no country.


            E.g. `USA`
          type: string
          title: Country Alpha3
        location:
          description: |-
            A 2-tuple representing the centroid of the place.

            Note that the longitude/latitude coordinates use the [GeoJSON](http://geojson.org/) order `[lon, lat]`.


            E.g. `[-73.88236, 40.66677]`
          type: array
          items:
            type: number
          maxItems: 2
          minItems: 2
          title: Location
      required:
        - id
        - type
        - name
        - location
      title: PublicGeonamesPlaceResponse
    PublicGeonamesPlacesResponse:
      type: object
      properties:
        count:
          description: Total number of places matching the query
          type: integer
          title: Count
        next:
          description: URL to next page
          anyOf:
            - type: string
            - type: 'null'
        previous:
          description: URL to previous page
          anyOf:
            - type: string
            - type: 'null'
        results:
          description: Array of place objects for the current page
          type: array
          items:
            $ref: '#/components/schemas/PublicGeonamesPlaceResponse'
          title: Results
      required:
        - count
        - results
      title: PublicGeonamesPlacesResponse
    ErrorResponse:
      type: object
      properties:
        error:
          description: Error message
          type: string
          title: Error
      required:
        - error
      title: ErrorResponse
    ValidationErrorDetail:
      type: object
      properties:
        field:
          description: The field that failed validation
          type: string
          title: Field
        msg:
          description: The validation error message
          type: string
          title: Message
        type:
          description: The type of validation error
          type: string
          title: Error Type
      required:
        - field
        - msg
        - type
      title: ValidationErrorDetail
    HTTPValidationError:
      type: object
      properties:
        error:
          description: Error summary message
          type: string
          title: Error
        details:
          description: List of validation error details
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          title: Details
      required:
        - error
        - details
      title: HTTPValidationError
    QueryValidationError:
      type: object
      properties:
        error:
          description: List of query parameter validation errors
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          title: Error
      required:
        - error
      title: QueryValidationError
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: $API_KEY
      description: |
        Enter your PredictHQ API key. The Bearer prefix is added automatically.

        When calling the API directly, send: `Authorization: Bearer <YOUR_API_KEY>` as documented at [https://docs.predicthq.com/api/overview/authenticating](https://docs.predicthq.com/api/overview/authenticating)

