openapi: 3.1.0
info:
  title: PredictHQ Public Places API (Public Preview)
  description: PredictHQ Public Places API (Public Preview)
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.predicthq.com/legal/terms
servers:
  - url: https://api.predicthq.com
paths:
  /v1/places/hierarchies:
    get:
      summary: Search hierarchies given cooridinate or place_ids
      operationId: get_hierarchies_places_hierarchies_get
      parameters:
        - name: location.place_id
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
            title: Location.Place Id
          description: |-
            A list of place_id in the form {place_id1},{place_id2},....

            Please note that you must specify either location.origin or location.place_id in your request.


            E.g. `?location.place_id=5809844,6252001`
        - name: country
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
            title: Country
          description: |-
            An ISO 3166-1 alpha-2 country code.


            E.g. `?country=US`
        - name: level
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BaseLevel'
            title: Level
          description: |-
            A place level.


            Defaults to locality.


            E.g. `?level=county`
        - name: location.origin
          in: query
          required: false
          schema:
            type: string
            title: Location.Origin
          description: |-
            A list of place_id in the form {place_id1},{place_id2},....


            Please note that you must specify either location.origin or location.place_id in your request.


            E.g. `?location.place_id=5809844,6252001`
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            title: Offset
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HierarchiesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Places Hierarchies API
  /v1/places:
    get:
      summary: Search for places by q/country/location/place_id
      operationId: search_geonames_places_get
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            title: Offset
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            title: Limit
        - name: id
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
            title: Id
          description: |-
            A comma-separated list of place identifiers.


            E.g. `?id=5115985`
        - name: country
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
            title: Country
          description: |-
            A comma-separated list of ISO 3166-1 alpha-2 country code.


            E.g. `?country=US`
        - name: location
          in: query
          required: false
          schema:
            type: string
            description: lat,lon
            title: Location
          description: |-
            A coordinate in the form @{latitude},{longitude}.


            E.g. `?location=@40.66677,-73.88236`
        - name: q
          in: query
          required: false
          schema:
            type: string
            title: Q
          description: |-
            A full-text search query.


            E.g. `?q=New+York`
        - name: type
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - planet
                - continent
                - country
                - region
                - county
                - localadmin
                - locality
                - neighbourhood
                - major
                - metro
                - local
            title: Type
          description: |-
            A comma-separated list of place types..


            ?type=country"
        - name: sort
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - name
                - -name
                - population
                - -population
                - distance
                - -distance
                - admin_level
                - -admin_level
            title: Sort
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGeonamesPlacesResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Places API
  /v1/places/{place_id}:
    get:
      summary: Get place by place_id
      operationId: get_place_by_id_places__place_id__get
      parameters:
        - name: place_id
          in: path
          required: true
          schema:
            type: string
            title: Place Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGeonamesPlaceResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Places API
components:
  schemas:
    BaseLevel:
      type: string
      enum:
        - planet
        - continent
        - country
        - region
        - county
        - localadmin
        - locality
        - neighbourhood
      title: BaseLevel
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HierarchiesResponse:
      properties:
        count:
          type: integer
          title: Count
        next:
          type: string
          title: Next
        previous:
          type: string
          title: Previous
        place_hierarchies:
          items:
            items:
              $ref: '#/components/schemas/HierarchyDetails'
            type: array
          type: array
          title: Place Hierarchies
      type: object
      required:
        - count
        - place_hierarchies
      title: HierarchiesResponse
    HierarchyDetails:
      properties:
        type:
          $ref: '#/components/schemas/BaseLevel'
        place_id:
          type: string
          title: Place Id
      type: object
      required:
        - type
        - place_id
      title: HierarchyDetails
    PublicGeonamesPlaceResponse:
      properties:
        id:
          type: string
          title: Id
          description: |-
            The unique identifier of the place.


            E.g. `5115985`
        type:
          $ref: '#/components/schemas/BaseLevel'
          description: |-
            The administrative level of the place..


            E.g. `locailty`
        name:
          type: string
          title: Name
          description: |-
            The name of the place.


            E.g. `East New York`
        county:
          type: string
          title: County
          description: |-
            The name of the place's administrative level 2 place, or null if it does not apply.


            E.g. `Kings County`
        region:
          type: string
          title: Region
          description: |-
            The name of the place's administrative level 1 place, or null if it does not apply.


            E.g. `East New York`
        country:
          type: string
          title: Country
          description: |-
            The name of the place's administrative level 0 place, or null if it does not apply.


            E.g. `United States`
        country_alpha2:
          type: string
          title: Country Alpha2
          description: |-
            The ISO 3166-1 alpha-2 country code, or null if there is no country.


            E.g. `US`
        country_alpha3:
          type: string
          title: Country Alpha3
          description: |-
            The ISO 3166-1 alpha-3 country code, or null if there is no country.


            E.g. `USA`
        location:
          items:
            type: number
          type: array
          title: Location
          description: |-
            A 2-tuple representing the centroid of the place.

            Note that the longitude/latitude coordinates use the GeoJSON order [lon, lat].


            E.g. `[-73.88236, 40.66677]`
      type: object
      required:
        - id
        - type
        - name
        - location
      title: PublicGeonamesPlaceResponse
    PublicGeonamesPlacesResponse:
      properties:
        count:
          type: integer
          title: Count
        next:
          type: string
          title: Next
        previous:
          type: string
          title: Previous
        results:
          items:
            $ref: '#/components/schemas/PublicGeonamesPlaceResponse'
          type: array
          title: Results
      type: object
      required:
        - count
        - results
      title: PublicGeonamesPlacesResponse
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: $API_KEY
      description: |
        Use 'Authorization: Bearer <YOUR_API_KEY>' as documented at https://docs.predicthq.com/authentication
security:
  - BearerAuth: []
x-hideTryItPanel: true
externalDocs:
  url: https://docs.predicthq.com
  description: PredictHQ Tech Docs
tags:
  - name: Places API
    externalDocs:
      url: https://docs.predicthq.com/api/places/search-places
      description: Places Public API
  - name: Places Hierarchies API
    externalDocs:
      url: https://docs.predicthq.com/api/places/get-place-hierarchies
      description: Places Hierarchies Public API
