openapi: 3.1.0
info:
  title: PredictHQ Impact Area API
  description: Determine a suitable search area around your business when searching for events.
  termsOfService: 'https://www.predicthq.com/legal/terms'
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  version: 1.0.0
security:
  - BearerAuth: []
tags:
  - name: Impact Area API
    externalDocs:
      url: 'https://docs.predicthq.com/api/impact-area'
      description: Impact Area API Docs
servers:
  - url: 'https://api.predicthq.com'
externalDocs:
  url: 'https://docs.predicthq.com'
  description: PredictHQ Tech Docs
x-hideTryItPanel: true
paths:
  /v1/impact-area/:
    get:
      operationId: get_impact_area_impact_area_get
      summary: Get Impact Area
      description: Returns an impact area (isochrone polygon or radius) for the given location and industry.
      parameters:
        - name: industry
          in: query
          description: |-
            The industry of interest for which the area will be calculated. For different industries, the area will be different based on the various types of events that would impact the location. For example, if you were getting the impact area around a hotel you'd specify accommodation as the industry.

            E.g. `?industry=accommodation`
          required: false
          schema:
            default: other
            $ref: '#/components/schemas/Industry'
        - name: location.origin
          in: query
          description: |-
            A comma-separated string consisting of the latitude and longitude of the location to find the optimal area for. For example your store or hotel location.

            The format is `<latitude>,<longitude>`

            E.g. `?location.origin=37.747767,-122.455320`
          required: true
          schema:
            type: string
            pattern: '^-?\d{1,3}(?:\.\d+)?,\-?\d{1,3}(?:\.\d+)?$'
        - name: area_type
          in: query
          description: The type of area to be returned. This can be either `polygon` or `radius`. A radius will return a circular area around the location with a radius that encompasses the impact area. A polygon will return a more complex shape that more accurately represents the impact area.
          required: false
          schema:
            default: polygon
            $ref: '#/components/schemas/AreaType'
        - name: radius_unit
          in: query
          description: 'The unit of measurement to be used for the radius if `area_type` is set to `radius`. This can be one of `m` (meters), `km` (kilometers), `ft` (feet), or `mi` (miles).'
          required: false
          schema:
            default: m
            $ref: '#/components/schemas/RadiusUnit'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictedAreaResponse'
        '400':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Rate limited by upstream provider
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: 'Rate limited by upstream provider, please retry later.'
        '500':
          description: Impact area service error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Impact area service failure.
        '503':
          description: Upstream provider temporarily unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Upstream provider is temporarily unavailable.
        '504':
          description: Upstream provider timed out
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: Upstream provider timed out.
      tags:
        - Impact Area API
components:
  schemas:
    AreaType:
      type: string
      enum:
        - polygon
        - radius
      title: AreaType
    GeoJsonFeature:
      type: object
      properties:
        type:
          type: string
          default: Feature
          const: Feature
          title: Type
        properties:
          anyOf:
            - $ref: '#/components/schemas/RadiusProperties'
            - type: 'null'
        geometry:
          discriminator:
            propertyName: type
            mapping:
              MultiPolygon: '#/components/schemas/MultiPolygon'
              Point: '#/components/schemas/Point'
              Polygon: '#/components/schemas/Polygon'
          oneOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
          title: Geometry
      required:
        - geometry
      title: GeoJsonFeature
    HTTPValidationError:
      type: object
      properties:
        error:
          type: string
          title: Error
        details:
          type: array
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          title: Details
      required:
        - error
        - details
      title: HTTPValidationError
    Industry:
      type: string
      enum:
        - parking
        - restaurants
        - retail
        - accommodation
        - cpg
        - tourism
        - marketing
        - transportation
        - other
      title: Industry
    LocationResponse:
      description: |-
        A json object representing the geo location of the event.

        E.g.:
        ```json
        {
          "lat": "37.747767",
          "lon": "-122.455320"
        }
        ```
      type: object
      properties:
        lat:
          type: string
          title: Lat
        lon:
          type: string
          title: Lon
      required:
        - lat
        - lon
      title: Location
    MultiPolygon:
      type: object
      properties:
        type:
          type: string
          default: MultiPolygon
          const: MultiPolygon
          title: Type
        coordinates:
          type: array
          items:
            items:
              items:
                anyOf:
                  - prefixItems:
                      - type: number
                      - type: number
                    type: array
                    maxItems: 2
                    minItems: 2
                  - prefixItems:
                      - type: number
                      - type: number
                      - type: number
                    type: array
                    maxItems: 3
                    minItems: 3
              type: array
            type: array
          title: Coordinates
      required:
        - coordinates
      title: MultiPolygon
    Point:
      type: object
      properties:
        type:
          type: string
          default: Point
          const: Point
          title: Type
        coordinates:
          anyOf:
            - prefixItems:
                - type: number
                - type: number
              type: array
              maxItems: 2
              minItems: 2
            - prefixItems:
                - type: number
                - type: number
                - type: number
              type: array
              maxItems: 3
              minItems: 3
          title: Coordinates
      required:
        - coordinates
      title: Point
    Polygon:
      type: object
      properties:
        type:
          type: string
          default: Polygon
          const: Polygon
          title: Type
        coordinates:
          type: array
          items:
            items:
              anyOf:
                - prefixItems:
                    - type: number
                    - type: number
                  type: array
                  maxItems: 2
                  minItems: 2
                - prefixItems:
                    - type: number
                    - type: number
                    - type: number
                  type: array
                  maxItems: 3
                  minItems: 3
            type: array
          title: Coordinates
      required:
        - coordinates
      title: Polygon
    PredictedAreaResponse:
      type: object
      properties:
        location:
          description: Origin location
          $ref: '#/components/schemas/LocationResponse'
        warnings:
          description: Warnings about the response
          type: array
          items:
            type: string
          title: Warnings
        geojson:
          description: GeoJSON Feature with predicted area geometry
          $ref: '#/components/schemas/GeoJsonFeature'
      required:
        - location
        - geojson
      title: PredictedAreaResponse
    RadiusProperties:
      type: object
      properties:
        radius:
          anyOf:
            - type: number
            - type: 'null'
          title: Radius
        radius_unit:
          anyOf:
            - $ref: '#/components/schemas/RadiusUnit'
            - type: 'null'
      title: RadiusProperties
    RadiusUnit:
      description: |-
        The unit of the radius returned.

        This will be the unit specified in the radius_unit parameter in the call made.
      type: string
      enum:
        - m
        - km
        - ft
        - mi
      title: RadiusUnit
    ValidationErrorDetail:
      type: object
      properties:
        field:
          type: string
          title: Field
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      required:
        - field
        - msg
        - type
      title: ValidationErrorDetail
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: $API_KEY
      description: |
        Enter your PredictHQ API key. The Bearer prefix is added automatically.

        When calling the API directly, send: `Authorization: Bearer <YOUR_API_KEY>` as documented at [https://docs.predicthq.com/api/overview/authenticating](https://docs.predicthq.com/api/overview/authenticating)

