openapi: 3.1.0
info:
  title: PredictHQ Saved Locations API
  description: |-
    Saved Locations are persistent, user-defined geographic entities that serve as reusable identifiers across PredictHQ’s platform. Defined using a name and a GeoJSON location shape, they may also include an external ID and optional labels for filtering or grouping.


    This API is currently in beta.
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.predicthq.com/legal/terms
security:
  - BearerAuth: []
tags:
  - name: Saved Locations API
    externalDocs:
      url: https://docs.predicthq.com/api/saved-locations/overview
      description: Saved Locations API Docs
servers:
  - url: https://api.predicthq.com
externalDocs:
  url: https://docs.predicthq.com
  description: PredictHQ Tech Docs
x-hideTryItPanel: true
paths:
  /v1/saved-locations:
    get:
      operationId: list_saved_locations
      summary: Search Saved Locations
      description: Returns a paginated list of Saved Locations for the authenticated organization. Supports full-text search, filtering by location ID, and sorting by various fields including event counts and spend metrics.
      parameters:
        - name: q
          in: query
          description: |-
            A full-text search query that searches across the following fields:
            - `name`
            - `description`
            - `location_code`
            - `formatted_address`
            - `labels`


            E.g. `q=alabama`
          required: false
          schema:
            type: string
            title: Q
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: sort
          in: query
          description: |-
            A comma-separated list of fields to sort results by. Use the `-` prefix to sort descending.


            E.g.: `?sort=-created`
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - created
                - -created
                - address
                - -address
                - name
                - -name
                - updated
                - -updated
                - attended_event_count
                - -attended_event_count
                - non_attended_event_count
                - -non_attended_event_count
                - phq_attendance_sum
                - -phq_attendance_sum
                - pes_accommodation_sum
                - -pes_accommodation_sum
                - pes_hospitality_sum
                - -pes_hospitality_sum
                - pes_total_sum
                - -pes_total_sum
                - pes_transportation_sum
                - -pes_transportation_sum
                - unscheduled_event_count
                - -unscheduled_event_count
                - next_90d.attended_event_count
                - -next_90d.attended_event_count
                - next_90d.non_attended_event_count
                - -next_90d.non_attended_event_count
                - next_90d.pes_accommodation_sum
                - -next_90d.pes_accommodation_sum
                - next_90d.pes_hospitality_sum
                - -next_90d.pes_hospitality_sum
                - next_90d.pes_total_sum
                - -next_90d.pes_total_sum
                - next_90d.pes_transportation_sum
                - -next_90d.pes_transportation_sum
                - next_90d.phq_attendance_sum
                - -next_90d.phq_attendance_sum
                - next_90d.unscheduled_event_count
                - -next_90d.unscheduled_event_count
                - attended_events
                - -attended_events
                - non_attended_events
                - -non_attended_events
                - attendance
                - -attendance
                - unscheduled_events
                - -unscheduled_events
            default:
              - created
          explode: false
          style: form
        - name: location_id
          in: query
          description: |-
            A comma-separated string consisting of a list of 1 or more `location_id`'s.


            E.g. `?location_id=6TxvEapQeDzq9y_UKVRQCQ`
          required: false
          schema:
            type: array
            items:
              type: string
          explode: false
          style: form
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedLocationsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
      tags:
        - Saved Locations API
    post:
      operationId: create_saved_location
      summary: Create a Saved Location
      description: Creates a new Saved Location. Provide either `origin_geojson` (recommended, to auto-calculate a Predicted Impact Area), `geojson` (manual area), or `place_ids` (city/state/country). The location will be enriched asynchronously after creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSavedLocationRequest'
      responses:
        '201':
          description: Location created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  location_id:
                    description: The unique identifier of the newly created Saved Location.
                    type: string
                required:
                  - location_id
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
      tags:
        - Saved Locations API
  /v1/saved-locations/{location_id}:
    get:
      operationId: get_saved_location
      summary: Get a Saved Location
      description: Returns a single Saved Location by ID, including its geographic data, summary insights, and enrichment status.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedLocationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Location not found
      tags:
        - Saved Locations API
    put:
      operationId: update_saved_location
      summary: Update (replace) a Saved Location
      description: Replaces an existing Saved Location with the provided data. All fields from the create request apply. The location will be re-enriched asynchronously after the update.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSavedLocationRequest'
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Location not found
      tags:
        - Saved Locations API
    delete:
      operationId: delete_saved_location
      summary: Delete a Saved Location
      description: Deletes a Saved Location by ID. This is a permanent operation.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Location not found
      tags:
        - Saved Locations API
  /v1/saved-locations/{location_id}/insights/events:
    get:
      operationId: list_saved_location_insight_events
      summary: Search Events for a Saved Location
      description: Returns events that impact the specified Saved Location. Please refer to the [Events API](https://docs.predicthq.com/api/events/search-events) docs for the available query parameters in addition to those listed below.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
        - name: date_range_type
          in: query
          description: |-
            Date range to fetch events for.


            Currently the only supported date ranges are:


            - `next_90d`
          required: false
          schema:
            $ref: '#/components/schemas/DateRangeType'
            title: Date Range Type
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhqEvents'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Location not found
      tags:
        - Saved Locations API
  /v1/saved-locations/{location_id}/opening-hours:
    post:
      operationId: create_opening_hours
      summary: Create opening hours for a location
      description: Creates a new opening hours record for a location. Slots define the open/close times for each day of the week. The `effective_from` and `effective_to` date range must not overlap with existing opening hours for the same location.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOpeningHoursRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOpeningHoursResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Location not found
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: 'Opening hours with overlapping date range already exist for this location (conflicting ID: abc123)'
      tags:
        - Saved Locations API
    get:
      operationId: list_opening_hours
      summary: List opening hours for a location
      description: Returns a paginated list of opening hours records for a location. Optionally filter by date range using `active_from` and `active_to`.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
        - name: active_from
          in: query
          description: Filter to opening hours records active on or after this date in `YYYY-MM-DD` format.
          required: false
          schema:
            type: string
            format: date
            title: Active From
        - name: active_to
          in: query
          description: Filter to opening hours records active on or before this date in `YYYY-MM-DD` format.
          required: false
          schema:
            type: string
            format: date
            title: Active To
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningHoursSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Location not found
      tags:
        - Saved Locations API
  /v1/saved-locations/{location_id}/opening-hours/{opening_hours_id}:
    get:
      operationId: get_opening_hours
      summary: Get specific opening hours
      description: Returns a single opening hours record by ID for the specified location.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
        - name: opening_hours_id
          in: path
          description: An existing opening hours record ID.
          required: true
          schema:
            type: string
            title: Opening Hours Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningHoursResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Opening hours record not found
      tags:
        - Saved Locations API
    put:
      operationId: update_opening_hours
      summary: Update opening hours
      description: Replaces an existing opening hours record. The `effective_from` and `effective_to` date range must not overlap with other opening hours for the same location.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
        - name: opening_hours_id
          in: path
          description: An existing opening hours record ID.
          required: true
          schema:
            type: string
            title: Opening Hours Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOpeningHoursRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningHours'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Opening hours record not found
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: 'Opening hours with overlapping date range already exist for this location (conflicting ID: abc123)'
      tags:
        - Saved Locations API
    delete:
      operationId: delete_opening_hours
      summary: Delete opening hours
      description: Deletes an opening hours record by ID for the specified location.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
        - name: opening_hours_id
          in: path
          description: An existing opening hours record ID.
          required: true
          schema:
            type: string
            title: Opening Hours Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Opening hours record not found
      tags:
        - Saved Locations API
  /v1/saved-locations/{location_id}/closures:
    post:
      operationId: create_closure
      summary: Create a closure for a location
      description: Creates a closure for a location. A closure represents a period during which the location is closed. The `effective_from` and `effective_to` date range must not overlap with existing closures for the same location.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClosureRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClosureResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Location not found
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: 'Closure with overlapping date range already exists for this location (conflicting ID: abc123)'
      tags:
        - Saved Locations API
    get:
      operationId: list_closures
      summary: List closures for a location
      description: Returns a paginated list of closures for a location. Optionally filter by date range using `active_from` and `active_to`.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
        - name: active_from
          in: query
          description: Filter to closure records active on or after this date in `YYYY-MM-DD` format.
          required: false
          schema:
            type: string
            format: date
            title: Active From
        - name: active_to
          in: query
          description: Filter to closure records active on or before this date in `YYYY-MM-DD` format.
          required: false
          schema:
            type: string
            format: date
            title: Active To
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosuresSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Location not found
      tags:
        - Saved Locations API
  /v1/saved-locations/{location_id}/closures/{closure_id}:
    get:
      operationId: get_closure
      summary: Get specific closure
      description: Returns a single closure by ID for the specified location.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
        - name: closure_id
          in: path
          description: An existing closure record ID.
          required: true
          schema:
            type: string
            title: Closure Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Closure'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Closure not found
      tags:
        - Saved Locations API
    delete:
      operationId: delete_closure
      summary: Delete closure
      description: Deletes a closure by ID for the specified location.
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
        - name: closure_id
          in: path
          description: An existing closure record ID.
          required: true
          schema:
            type: string
            title: Closure Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Authorization required
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Bearer token scope insufficient
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Closure not found
      tags:
        - Saved Locations API
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Limit the number of results.
      required: false
      schema:
        type: integer
        default: 10
    OffsetParam:
      name: offset
      in: query
      description: Offset the results.
      required: false
      schema:
        type: integer
        default: 0
  schemas:
    AdditionalDetails:
      description: Supplementary operational data for a location, including upcoming opening hours and closures.
      type: object
      properties:
        opening_hours:
          description: Opening hour slots that fall within the rolling window for this location.
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Output'
          title: Opening Hours
        closures:
          description: Closures that fall within the rolling window for this location.
          type: array
          items:
            $ref: '#/components/schemas/AdditionalDetailsClosure'
          title: Closures
      title: AdditionalDetails
    AdditionalDetailsClosure:
      description: A closure record within the additional details rolling window.
      type: object
      properties:
        effective_from:
          description: The start date of the closure period.
          type: string
          title: Effective From
        effective_to:
          description: The end date of the closure period.
          type: string
          title: Effective To
        title:
          description: A short descriptive title for the closure.
          type: string
          title: Title
      required:
        - effective_from
        - effective_to
        - title
      title: AdditionalDetailsClosure
    Closure:
      description: A full closure record including metadata such as creation and update timestamps.
      type: object
      properties:
        closure_id:
          description: The unique identifier for this closure record.
          type: string
          title: Closure Id
        location_id:
          description: The identifier of the Saved Location this closure belongs to.
          type: string
          title: Location Id
        effective_from:
          description: The start date of the closure period in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective From
        effective_to:
          description: The end date of the closure period in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective To
        title:
          description: A short descriptive title for the closure.
          type: string
          title: Title
        create_dt:
          description: The date and time the closure was created in ISO 8601 format.
          type: string
          format: date-time
          title: Create Dt
        update_dt:
          description: The date and time the closure was last updated in ISO 8601 format.
          type: string
          format: date-time
          title: Update Dt
        status:
          description: The status of the closure. Either `active` or `deleted`.
          default: active
          $ref: '#/components/schemas/ClosureStatus'
      required:
        - closure_id
        - location_id
        - effective_from
        - effective_to
        - title
        - create_dt
        - update_dt
      title: Closure
    ClosureResponse:
      description: A closure record as returned in single-resource responses.
      type: object
      properties:
        closure_id:
          description: The unique identifier for this closure record.
          type: string
          title: Closure Id
        location_id:
          description: The identifier of the Saved Location this closure belongs to.
          type: string
          title: Location Id
        effective_from:
          description: The start date of the closure period in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective From
        effective_to:
          description: The end date of the closure period in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective To
        title:
          description: A short descriptive title for the closure.
          type: string
          title: Title
        create_dt:
          description: The date and time the closure was created in ISO 8601 format.
          type: string
          format: date-time
          title: Create Dt
        update_dt:
          description: The date and time the closure was last updated in ISO 8601 format.
          type: string
          format: date-time
          title: Update Dt
      required:
        - closure_id
        - location_id
        - effective_from
        - effective_to
        - title
        - create_dt
        - update_dt
      title: ClosureResponse
    ClosureStatus:
      description: The status of a closure record.
      type: string
      enum:
        - active
        - deleted
      title: ClosureStatus
    ClosuresSearchResponse:
      description: A paginated list of closure records.
      type: object
      properties:
        count:
          description: Total number of closure records found.
          type: integer
          title: Count
        previous:
          description: URL of the previous page of results, or null if on the first page.
          type: string
          title: Previous
        next:
          description: URL of the next page of results, or null if on the last page.
          type: string
          title: Next
        closures:
          description: List of closure records.
          type: array
          items:
            $ref: '#/components/schemas/ClosureResponse'
          title: Closures
      required:
        - count
        - closures
      title: ClosuresSearchResponse
    CreateClosureRequest:
      description: The request body for creating a new closure.
      type: object
      properties:
        effective_from:
          description: The start date of the closure period in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective From
        effective_to:
          description: The end date of the closure period in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective To
        title:
          description: A short descriptive title for the closure.
          type: string
          title: Title
      required:
        - effective_from
        - effective_to
        - title
      title: CreateClosureRequest
    CreateClosureResponse:
      description: The response returned after successfully creating a closure.
      type: object
      properties:
        closure_id:
          description: The unique identifier of the newly created closure.
          type: string
          title: Closure Id
      required:
        - closure_id
      title: CreateClosureResponse
    CreateOpeningHoursRequest:
      description: The request body for creating a new opening hours record.
      type: object
      properties:
        effective_from:
          description: The start date from which these opening hours apply in `YYYY-MM-DD` format. Defaults to `0001-01-01` (effectively unbounded).
          type: string
          format: date
          default: "0001-01-01"
          title: Effective From
        effective_to:
          description: The end date until which these opening hours apply in `YYYY-MM-DD` format. Defaults to `9999-12-31` (effectively unbounded).
          type: string
          format: date
          default: "9999-12-31"
          title: Effective To
        slots:
          description: A list of day-and-time-slot pairs defining when the location is open. At least one slot is required.
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Input'
          minItems: 1
          title: Slots
      required:
        - slots
      title: CreateOpeningHoursRequest
    CreateOpeningHoursResponse:
      description: The response returned after successfully creating an opening hours record.
      type: object
      properties:
        opening_hours_id:
          description: The unique identifier of the newly created opening hours record.
          type: string
          title: Opening Hours Id
      required:
        - opening_hours_id
      title: CreateOpeningHoursResponse
    CreateSavedLocationRequest:
      description: The request body for creating a new Saved Location. Provide location geometry via `origin_geojson` (recommended), `geojson`, or `place_ids`.
      type: object
      properties:
        location_code:
          description: |-
            An optional identifier for your location.


            The intention here is to use your own identifier for the location if you have one. 
            E.g., you might have stores/hotels/etc in your system with their own ID 
            - use that ID here to make it easier to lookup the location later.
          type: string
          title: Location Code
        name:
          description: |-
            Name of the Saved Location.

            E.g. `My Location`
          type: string
          examples:
            - My Location
          title: Name
        description:
          description: Description of the location.
          type: string
          title: Description
        labels:
          description: |-
            A list of labels to help you categorize your locations.
            You can use these labels to search upon.


            **E.g.**
              ```json
                {
                  "labels": ["label1", "label2"]
                }
              ```
          type: array
          items:
            type: string
          examples:
            - test
            - retail
          title: Labels
        geojson:
          description: |-
            We recommend omitting this parameter and providing only the `origin_geojson` field instead.
            This allows PredictHQ to automatically calculate and store a Predicted Impact Area for the location,
            which provides a more accurate representation of event impact than a manually specified area.

            Only use `geojson` if you need to define a specific area.
            For Point geometry types, a radius is required using the `radius` and `radius_unit` properties.
            The radius must be an integer or a float up to 2 decimal places.

            Note: GeoJSON coordinates are ordered longitude then latitude.
          $ref: '#/components/schemas/GeoJson-Input'
          examples:
            - type: Feature
              properties:
                radius: 3.17
                radius_unit: mi
              geometry:
                type: Point
                coordinates:
                  - -122.3816274
                  - 37.61911449999999
        place_ids:
          description: |-
            You can define the geolocation of the Saved Location either by GeoJSON or Place IDs.

            The Place IDs option is typically used when the location covers an entire city, county, state or country.

            Use our [Places API](https://docs.predicthq.com/api/places/search-places) to search for the correct Place ID.
          type: array
          items:
            type: integer
          title: Place Ids
        formatted_address:
          description: The street address of the location.
          type: string
          title: Formatted Address
        industry:
          description: |-
            The industry of your business. This is used to calculate the Impact Area for your location when you specify
            the `origin_geojson` field.
          $ref: '#/components/schemas/Industry'
        origin_geojson:
          description: |-
            Defines the exact location of your business. This is different from `geojson`,
            which defines the area around your business used to scope event searches.

            We recommend providing `origin_geojson` without specifying `geojson` or `place_ids`.
            PredictHQ will automatically calculate a Predicted Impact Area for the location and store it
            in the `geojson` field.

            Note: GeoJSON coordinates are ordered longitude then latitude.
            Refer to our [Predicted Impact Area](https://docs.predicthq.com/api/impact-area/get-impact-area)
            documentation for more details.
          $ref: '#/components/schemas/OriginGeoJson'
          examples:
            - type: Feature
              geometry:
                type: Point
                coordinates:
                  - -122.3816274
                  - 37.61911449999999
      title: CreateSavedLocationRequest
    DateRange:
      description: A date range over which insight metrics are calculated.
      type: object
      properties:
        type:
          description: The type of date range. Currently only `next_90d` is supported.
          $ref: '#/components/schemas/DateRangeType'
        start_dt:
          description: The start of the date range in ISO 8601 format.
          type: string
          format: date-time
          title: Start Dt
        end_dt:
          description: The end of the date range in ISO 8601 format.
          type: string
          format: date-time
          title: End Dt
      required:
        - type
        - start_dt
        - end_dt
      title: DateRange
    DateRangeType:
      description: The type of date range for insight calculations. Currently only `next_90d` is supported.
      type: string
      const: next_90d
      title: DateRangeType
    DayOfWeek:
      description: A day of the week.
      type: string
      enum:
        - monday
        - tuesday
        - wednesday
        - thursday
        - friday
        - saturday
        - sunday
      title: DayOfWeek
    GeoJson-Input:
      description: A GeoJSON Feature representing the geographic area of a location. Supported geometry types are Point, Polygon, MultiPolygon, LineString, and MultiLineString.
      type: object
      properties:
        type:
          description: The GeoJSON object type. Always `Feature`.
          type: string
          const: Feature
          title: Type
        properties:
          description: Optional properties for the feature, such as radius and radius unit for Point geometries.
          $ref: '#/components/schemas/Properties'
        geometry:
          description: The geometry of the feature. Must be one of the supported geometry types.
          discriminator:
            propertyName: type
            mapping:
              LineString: '#/components/schemas/LineString'
              MultiLineString: '#/components/schemas/MultiLineString'
              MultiPolygon: '#/components/schemas/MultiPolygon'
              Point: '#/components/schemas/Point'
              Polygon: '#/components/schemas/Polygon'
          oneOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
            - $ref: '#/components/schemas/LineString'
            - $ref: '#/components/schemas/MultiLineString'
          title: Geometry
      required:
        - type
        - geometry
      title: GeoJSON (Input)
    GeoJson-Output:
      description: A GeoJSON Feature representing the geographic area of a location as returned in responses.
      type: object
      properties:
        type:
          description: The GeoJSON object type. Always `Feature`.
          type: string
          const: Feature
          title: Type
        properties:
          description: Optional properties for the feature, such as radius and radius unit for Point geometries.
          $ref: '#/components/schemas/Properties'
        geometry:
          description: The geometry of the feature.
          discriminator:
            propertyName: type
            mapping:
              LineString: '#/components/schemas/LineString'
              MultiLineString: '#/components/schemas/MultiLineString'
              MultiPolygon: '#/components/schemas/MultiPolygon'
              Point: '#/components/schemas/Point'
              Polygon: '#/components/schemas/Polygon'
          oneOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
            - $ref: '#/components/schemas/LineString'
            - $ref: '#/components/schemas/MultiLineString'
          title: Geometry
      required:
        - type
        - geometry
      title: GeoJSON (Output)
    HTTPValidationError:
      description: A validation error response containing field-level error details.
      type: object
      properties:
        error:
          description: A summary error message.
          type: string
        details:
          description: A list of field-level validation errors.
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
      title: HTTPValidationError
    Industry:
      description: The industry classification of a business location.
      type: string
      enum:
        - parking
        - restaurants
        - retail
        - accommodation
        - cpg
        - tourism
        - marketing
        - transportation
        - other
      title: Industry
    LineString:
      description: A GeoJSON LineString geometry.
      type: object
      properties:
        type:
          description: The geometry type. Always `LineString`.
          type: string
          default: LineString
          const: LineString
          title: Type
        coordinates:
          description: An array of two or more positions.
          type: array
          items:
            anyOf:
              - prefixItems:
                  - type: number
                  - type: number
                type: array
                maxItems: 2
                minItems: 2
              - prefixItems:
                  - type: number
                  - type: number
                  - type: number
                type: array
                maxItems: 3
                minItems: 3
          title: Coordinates
      required:
        - coordinates
      title: LineString
    LocationType:
      description: The type of geographic definition used for a Saved Location.
      type: string
      enum:
        - place_id
        - point
        - polygon
        - impact_area
      title: LocationType
    MultiLineString:
      description: A GeoJSON MultiLineString geometry containing multiple LineString geometries.
      type: object
      properties:
        type:
          description: The geometry type. Always `MultiLineString`.
          type: string
          default: MultiLineString
          const: MultiLineString
          title: Type
        coordinates:
          description: An array of LineString coordinate arrays.
          type: array
          items:
            items:
              anyOf:
                - prefixItems:
                    - type: number
                    - type: number
                  type: array
                  maxItems: 2
                  minItems: 2
                - prefixItems:
                    - type: number
                    - type: number
                    - type: number
                  type: array
                  maxItems: 3
                  minItems: 3
            type: array
          title: Coordinates
      required:
        - coordinates
      title: MultiLineString
    MultiPolygon:
      description: A GeoJSON MultiPolygon geometry containing multiple Polygon geometries.
      type: object
      properties:
        type:
          description: The geometry type. Always `MultiPolygon`.
          type: string
          default: MultiPolygon
          const: MultiPolygon
          title: Type
        coordinates:
          description: An array of Polygon coordinate arrays.
          type: array
          items:
            items:
              items:
                anyOf:
                  - prefixItems:
                      - type: number
                      - type: number
                    type: array
                    maxItems: 2
                    minItems: 2
                  - prefixItems:
                      - type: number
                      - type: number
                      - type: number
                    type: array
                    maxItems: 3
                    minItems: 3
              type: array
            type: array
          title: Coordinates
      required:
        - coordinates
      title: MultiPolygon
    OpeningHourSlot-Input:
      description: A day-and-time-slot pair defining when a location is open.
      type: object
      properties:
        day:
          description: The day of the week this slot applies to.
          $ref: '#/components/schemas/DayOfWeek'
        slot:
          description: The time range for this opening slot.
          $ref: '#/components/schemas/TimeSlot-Input'
      required:
        - day
        - slot
      title: OpeningHourSlot
    OpeningHourSlot-Output:
      description: A day-and-time-slot pair defining when a location is open, as returned in responses.
      type: object
      properties:
        day:
          description: The day of the week this slot applies to.
          $ref: '#/components/schemas/DayOfWeek'
        slot:
          description: The time range for this opening slot.
          $ref: '#/components/schemas/TimeSlot-Output'
      required:
        - day
        - slot
      title: OpeningHourSlot
    OpeningHours:
      description: A full opening hours record including metadata such as creation and update timestamps.
      type: object
      properties:
        opening_hours_id:
          description: The unique identifier for this opening hours record.
          type: string
          title: Opening Hours Id
        location_id:
          description: The identifier of the Saved Location these opening hours belong to.
          type: string
          title: Location Id
        effective_from:
          description: The start date from which these opening hours apply in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective From
        effective_to:
          description: The end date until which these opening hours apply in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective To
        slots:
          description: A list of day-and-time-slot pairs defining when the location is open.
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Output'
          title: Slots
        create_dt:
          description: The date and time the opening hours record was created in ISO 8601 format.
          type: string
          format: date-time
          title: Create Dt
        update_dt:
          description: The date and time the opening hours record was last updated in ISO 8601 format.
          type: string
          format: date-time
          title: Update Dt
        status:
          description: The status of the opening hours record. Either `active` or `deleted`.
          default: active
          $ref: '#/components/schemas/OpeningHoursStatus'
      required:
        - opening_hours_id
        - location_id
        - slots
        - create_dt
        - update_dt
      title: OpeningHours
    OpeningHoursResponse:
      description: An opening hours record as returned in single-resource responses.
      type: object
      properties:
        opening_hours_id:
          description: The unique identifier for this opening hours record.
          type: string
          title: Opening Hours Id
        location_id:
          description: The identifier of the Saved Location these opening hours belong to.
          type: string
          title: Location Id
        effective_from:
          description: The start date from which these opening hours apply in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective From
        effective_to:
          description: The end date until which these opening hours apply in `YYYY-MM-DD` format.
          type: string
          format: date
          title: Effective To
        slots:
          description: A list of day-and-time-slot pairs defining when the location is open.
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Output'
          title: Slots
        create_dt:
          description: The date and time the opening hours record was created in ISO 8601 format.
          type: string
          format: date-time
          title: Create Dt
        update_dt:
          description: The date and time the opening hours record was last updated in ISO 8601 format.
          type: string
          format: date-time
          title: Update Dt
      required:
        - opening_hours_id
        - location_id
        - slots
        - create_dt
        - update_dt
      title: OpeningHoursResponse
    OpeningHoursSearchResponse:
      description: A paginated list of opening hours records.
      type: object
      properties:
        count:
          description: Total number of opening hours records found.
          type: integer
          title: Count
        previous:
          description: URL of the previous page of results, or null if on the first page.
          type: string
          title: Previous
        next:
          description: URL of the next page of results, or null if on the last page.
          type: string
          title: Next
        opening_hours:
          description: List of opening hours records.
          type: array
          items:
            $ref: '#/components/schemas/OpeningHoursResponse'
          title: Opening Hours
      required:
        - count
        - opening_hours
      title: OpeningHoursSearchResponse
    OpeningHoursStatus:
      description: The status of an opening hours record.
      type: string
      enum:
        - active
        - deleted
      title: OpeningHoursStatus
    OriginGeoJson:
      description: A GeoJSON Feature with a Point geometry representing the exact origin location of a business.
      type: object
      properties:
        type:
          description: The GeoJSON object type. Always `Feature`.
          type: string
          default: Feature
          const: Feature
          title: Type
        geometry:
          description: A Point geometry defining the origin coordinates.
          $ref: '#/components/schemas/Point'
      additionalProperties: false
      required:
        - geometry
      title: OriginGeoJson
    PhqEvents:
      description: A paginated list of events impacting a Saved Location.
      type: object
      properties:
        count:
          description: Total number of results found.
          type: integer
          title: Count
        results:
          description: |-
            List of results where each item is an Event.


            Please refer to the response fields section in [Search Events](https://docs.predicthq.com/api/events/search-events#response-fields) for the structure of each record.
          type: array
          items:
            additionalProperties: true
            type: object
          title: Results
      required:
        - count
        - results
      title: PhqEvents
    Place:
      description: A geographic place resolved from a Geonames place ID.
      type: object
      properties:
        place_id:
          description: The Geonames place identifier.
          type: integer
          title: Place Id
        type:
          description: The type of place, such as `locality`, `county`, `region`, or `country`.
          type: string
          title: Type
        name:
          description: The name of the place.
          type: string
          title: Name
        county:
          description: The county the place belongs to, if applicable.
          type: string
          title: County
        region:
          description: The region or state the place belongs to, if applicable.
          type: string
          title: Region
        country:
          description: The ISO 3166-1 alpha-2 country code.
          type: string
          title: Country
        geojson:
          description: The geographic representation of the place in GeoJSON format.
          $ref: '#/components/schemas/PlaceGeoJson'
      required:
        - place_id
        - type
        - name
        - geojson
      title: Place
    PlaceGeoJson:
      description: A GeoJSON Feature representing the geographic geometry of a place.
      type: object
      properties:
        type:
          description: The GeoJSON object type. Always `Feature`.
          type: string
          default: Feature
          const: Feature
          title: Type
        geometry:
          description: The geometry of the place.
          anyOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
            - $ref: '#/components/schemas/LineString'
            - $ref: '#/components/schemas/MultiLineString'
          title: Geometry
      required:
        - geometry
      title: PlaceGeoJson
    Point:
      description: A GeoJSON Point geometry. Coordinates are `[longitude, latitude]`.
      type: object
      properties:
        type:
          description: The geometry type. Always `Point`.
          type: string
          default: Point
          const: Point
          title: Type
        coordinates:
          description: The position as `[longitude, latitude]` or `[longitude, latitude, altitude]`.
          anyOf:
            - prefixItems:
                - type: number
                - type: number
              type: array
              maxItems: 2
              minItems: 2
            - prefixItems:
                - type: number
                - type: number
                - type: number
              type: array
              maxItems: 3
              minItems: 3
          title: Coordinates
      required:
        - coordinates
      title: Point
    Polygon:
      description: A GeoJSON Polygon geometry. The first ring is the outer boundary; subsequent rings are holes.
      type: object
      properties:
        type:
          description: The geometry type. Always `Polygon`.
          type: string
          default: Polygon
          const: Polygon
          title: Type
        coordinates:
          description: An array of linear rings. Each ring is an array of `[longitude, latitude]` positions where the first and last positions are identical.
          type: array
          items:
            items:
              anyOf:
                - prefixItems:
                    - type: number
                    - type: number
                  type: array
                  maxItems: 2
                  minItems: 2
                - prefixItems:
                    - type: number
                    - type: number
                    - type: number
                  type: array
                  maxItems: 3
                  minItems: 3
            type: array
          title: Coordinates
      required:
        - coordinates
      title: Polygon
    Properties:
      description: Custom properties for embedding the radius information
      type: object
      properties:
        radius:
          description: The radius around the Point geometry, defining the area of impact.
          type: number
          title: Radius
        radius_unit:
          description: The unit of measurement for the radius value.
          $ref: '#/components/schemas/RadiusUnit'
      title: Properties
    RadiusUnit:
      description: The unit of the radius returned. This will be the unit specified in the radius_unit parameter in the call made.
      type: string
      enum:
        - m
        - km
        - ft
        - mi
      title: RadiusUnit
    SavedLocationResponse:
      description: A Saved Location record including geographic data, summary insights, and enrichment status.
      type: object
      properties:
        location_code:
          description: |-
            The user-supplied identifier for the location.


            E.g. `4t855453234t5623`
          type: string
          examples:
            - 4t855453234t5623
          title: Location Code
        name:
          description: |-
            The user defined name of the Saved Location set in the create location call.


            E.g. `My Parking Building`
          type: string
          examples:
            - My Parking Building
          title: Name
        description:
          description: A user-supplied description of the location.
          type: string
          title: Description
        labels:
          description: |-
            A list of user defined labels for the location.


            E.g.: `["test", "retail"]`
          type: array
          items:
            type: string
          examples:
            - test
            - retail
          title: Labels
        geojson:
          description: An object containing the geographic information about a location. Represents the geometry associated with the event in the [GeoJSON format](https://geojson.org/).
          $ref: '#/components/schemas/GeoJson-Output'
          examples:
            - type: Feature
              properties:
                radius: 3.17
                radius_unit: mi
              geometry:
                type: Point
                coordinates:
                  - -122.3816274
                  - 37.61911449999999
        place_ids:
          description: |-
            An array of place ids (see the [Places API](https://docs.predicthq.com/api/places/search-places)) for locations that are defined as covering an area (see City, State, Country locations) rather than a point and radius.


            E.g. `[2750405]`
          type: array
          items:
            type: integer
          examples:
            - - 2750405
          title: Place Ids
        formatted_address:
          description: |-
            The address of the location. This can be supplied when creating a location.


            E.g.
              ```json
                {
                  "formatted_address": "666 Mission St, San Francisco, CA 94105, USA",
                }
              ```
          type: string
          examples:
            - 666 Mission St, San Francisco, CA 94105, USA
          title: Formatted Address
        industry:
          description: The industry of your business.
          $ref: '#/components/schemas/Industry'
        origin_geojson:
          description: |-
            An object containing the geographic information about a location. Represents the location of your business
            in the [GeoJSON format](https://geojson.org/).
          $ref: '#/components/schemas/OriginGeoJson'
          examples:
            - type: Feature
              geometry:
                type: Point
                coordinates:
                  - -122.3816274
                  - 37.61911449999999
        create_dt:
          description: |-
            The creation date time for the location in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).


            E.g. `2022-04-26T11:46:24+00:00`
          type: string
          format: date-time
          examples:
            - 2022-04-26T11:46:24+00:00
          title: Create Dt
        update_dt:
          description: |-
            The last update date time for the location in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).


            E.g. `2022-04-26T11:46:24+00:00`
          type: string
          format: date-time
          examples:
            - 2022-04-26T11:46:24+00:00
          title: Update Dt
        enrich_dt:
          description: |-
            The date time the location was last enriched in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).


            E.g. `2022-04-26T11:46:25+00:00`
          type: string
          format: date-time
          examples:
            - 2022-04-26T11:46:25+00:00
          title: Enrich Dt
        insights_dt:
          description: |-
            The date/time insights were last calculated for the location in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).


            E.g. `2022-04-26T11:46:25+00:00`
          type: string
          format: date-time
          examples:
            - 2022-04-26T11:46:25+00:00
          title: Insights Dt
        user_id:
          description: |-
            The ID of the user who created the saved location.
            This is present for locations created in the WebApp.
            For locations created via the API this field will not be populated.


            E.g. `hjqkKozgS8mm`
          type: string
          examples:
            - hjqkKozgS8mm
          title: User Id
        subscription_valid_types:
          description: |-
            The value is a list of different (subscription) types that this location is valid for.
            The possible values are `events`, `broadcasts`, `notifications`, `features_api`.


            It is possible to create locations outside of what your subscription has access to.
            In this case this field will be empty and you will not be able to view events for the location.


            E.g. `["events"]`
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionValidType'
          examples:
            - events
            - features_api
          title: Subscription Valid Types
        location_type:
          description: The type of geographic definition used for this location. Possible values are `place_id`, `point`, `polygon`, or `impact_area`.
          $ref: '#/components/schemas/LocationType'
        status:
          description: |-
            Reflects if a location has been updated by the enrichment process. When a location is initially created its status will be `pending`.


            After the enrichment process has updated the location populating `summary_insights` and other fields the status will be `active`.


            Typically locations only have the `pending` status for a short time.


            E.g. `active`
          $ref: '#/components/schemas/SavedLocationStatus'
          examples:
            - active
        summary_insights:
          description: |-
            This object contains the saved locations stats.
            This includes values for each of the 4 stats as well as the date_range field.
            The stats reflect the number of events and attend happening for the location.

            The date range field includes the start and end datetime for the period that the stats have been calculated for.
          type: array
          items:
            $ref: '#/components/schemas/SummaryInsights'
          title: Summary Insights
        places:
          description: This is a list of (geonames) Places. It is based on the lowest level place_id in the [place_hierarchies](https://docs.predicthq.com/getting-started/guides/geolocation-guides/understanding-place-hierarchies). It will usually only contain 1 item in the list but will always be a list.
          type: array
          items:
            $ref: '#/components/schemas/Place'
          title: Places
        location_id:
          description: |-
            The autogenerated identifier for the saved location.


            E.g. `8gZ2rn8BRcTjM_3SWdjP`
          type: string
          examples:
            - 8gZ2rn8BRcTjM_3SWdjP
          title: Location Id
        additional_details:
          description: Contains supplementary operational data for the location, including opening hours and closures that fall within a rolling window.
          $ref: '#/components/schemas/AdditionalDetails'
      examples:
        - location_id: 7sdevIveOuIQmP0EL1lZoQ
          create_dt: 2025-11-17T19:11:43+00:00
          update_dt: 2025-11-17T19:11:43+00:00
          enrich_dt: 2025-11-17T19:11:45+00:00
          insights_dt: 2025-11-17T19:11:46+00:00
          name: San Francisco
          place_ids:
            - 5391959
          formatted_address: San Francisco, San Francisco County, California, United States [Locality]
          places:
            - place_id: 5391959
              type: locality
              name: San Francisco
              county: San Francisco County
              region: California
              country: US
              geojson:
                type: Feature
                geometry:
                  type: Point
                  coordinates:
                    - -122.41942
                    - 37.77493
          summary_insights:
            - date_range:
                type: next_90d
                start_dt: 2025-11-17T19:11:46+00:00
                end_dt: 2026-02-15T19:11:46+00:00
              phq_attendance_sum: 2670581
              attended_event_count: 2568
              non_attended_event_count: 113
              unscheduled_event_count: 2
              pes_total_sum: 232505682
              pes_accommodation_sum: 88335769
              pes_hospitality_sum: 108671383
              pes_transportation_sum: 35496672
          subscription_valid_types:
            - events
            - features_api
          status: active
      required:
        - create_dt
        - update_dt
        - status
        - location_id
      title: SavedLocationResponse
    SavedLocationStatus:
      description: The status of a Saved Location. Locations start as `pending` and become `active` after enrichment.
      type: string
      enum:
        - active
        - deleted
        - pending
      title: SavedLocationStatus
    SavedLocationsResponse:
      description: A paginated list of Saved Location records.
      type: object
      properties:
        count:
          description: Total number of results found.
          type: integer
          title: Count
        locations:
          description: List of results where each item is a Saved Location.
          type: array
          items:
            $ref: '#/components/schemas/SavedLocationResponse'
          title: Locations
      required:
        - count
        - locations
      title: SavedLocationsResponse
    SubscriptionValidType:
      description: A subscription feature type that a location is valid for.
      type: string
      enum:
        - broadcasts
        - events
        - features_api
        - notifications
      title: SubscriptionValidType
    SummaryInsights:
      description: Aggregated event and spend metrics for a location over a rolling date range.
      type: object
      properties:
        date_range:
          description: The date range over which the insight metrics were calculated.
          $ref: '#/components/schemas/DateRange'
        phq_attendance_sum:
          description: The total predicted attendance across all attended events.
          type: integer
          title: Phq Attendance Sum
        attended_event_count:
          description: The number of attended events impacting this location.
          type: integer
          title: Attended Event Count
        non_attended_event_count:
          description: The number of non-attended events impacting this location.
          type: integer
          title: Non Attended Event Count
        unscheduled_event_count:
          description: The number of unscheduled events impacting this location.
          type: integer
          title: Unscheduled Event Count
        demand_surge_count:
          description: The number of demand surges impacting this location.
          type: integer
          title: Demand Surge Count
        venue_count:
          description: The number of venues within the location area.
          type: integer
          title: Venue Count
        pes_total_sum:
          description: Total predicted event spend across all categories in USD.
          type: integer
          title: Pes Total Sum
        pes_accommodation_sum:
          description: Predicted event spend for the accommodation category.
          type: integer
          title: Pes Accommodation Sum
        pes_hospitality_sum:
          description: Predicted event spend for the hospitality category.
          type: integer
          title: Pes Hospitality Sum
        pes_transportation_sum:
          description: Predicted event spend for the transportation category.
          type: integer
          title: Pes Transportation Sum
      required:
        - date_range
        - phq_attendance_sum
        - attended_event_count
        - non_attended_event_count
        - unscheduled_event_count
      title: SummaryInsights
    TimeSlot-Input:
      description: A time slot defining when a location is open on a given day. Uses `gte`/`lt` for input; responses return the same values as `open`/`close` (see TimeSlot-Output).
      type: object
      properties:
        gte:
          description: Opening time in HH:MM format (00:00-23:59)
          type: string
          pattern: ^([01]?[0-9]|2[0-3]):[0-5][0-9]$
          title: Gte
        lt:
          description: Closing time in HH:MM format (00:00-24:00)
          type: string
          pattern: ^(([01]?[0-9]|2[0-3]):[0-5][0-9]|24:00)$
          title: Lt
      required:
        - gte
        - lt
      title: TimeSlot
    TimeSlot-Output:
      description: A time slot representing when a location is open on a given day, as returned in responses.
      type: object
      properties:
        open:
          description: Opening time in HH:MM format (00:00-23:59)
          type: string
          pattern: ^([01]?[0-9]|2[0-3]):[0-5][0-9]$
          title: Open
        close:
          description: Closing time in HH:MM format (00:00-24:00)
          type: string
          pattern: ^(([01]?[0-9]|2[0-3]):[0-5][0-9]|24:00)$
          title: Close
      required:
        - open
        - close
      title: TimeSlot
    UpdateOpeningHoursRequest:
      description: The request body for updating an existing opening hours record.
      type: object
      properties:
        effective_from:
          description: The start date from which these opening hours apply in `YYYY-MM-DD` format. Defaults to `0001-01-01` (effectively unbounded).
          type: string
          format: date
          default: "0001-01-01"
          title: Effective From
        effective_to:
          description: The end date until which these opening hours apply in `YYYY-MM-DD` format. Defaults to `9999-12-31` (effectively unbounded).
          type: string
          format: date
          default: "9999-12-31"
          title: Effective To
        slots:
          description: A list of day-and-time-slot pairs defining when the location is open. At least one slot is required.
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Input'
          minItems: 1
          title: Slots
      required:
        - slots
      title: UpdateOpeningHoursRequest
    ValidationError:
      description: A single field-level validation error.
      type: object
      properties:
        field:
          description: The field path that caused the error.
          type: string
        msg:
          description: A human-readable error message.
          type: string
          title: Message
        type:
          description: The type of validation error.
          type: string
          title: Error Type
      title: ValidationError
    ErrorResponse:
      description: An error response containing a human-readable error message.
      type: object
      properties:
        error:
          description: Error message
          type: string
          title: Error
      required:
        - error
      title: ErrorResponse
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: $API_KEY
      description: |
        Enter your PredictHQ API key. The Bearer prefix is added automatically.

        When calling the API directly, send: `Authorization: Bearer <YOUR_API_KEY>` as documented at [https://docs.predicthq.com/api/overview/authenticating](https://docs.predicthq.com/api/overview/authenticating)

