openapi: 3.1.0
info:
  title: PredictHQ Saved Locations API
  description: |-
    Saved Locations are persistent, user-defined geographic entities that serve as reusable identifiers across PredictHQ’s platform. Defined using a name and a GeoJSON location shape, they may also include an external ID and optional labels for filtering or grouping.


    This API is currently in beta.
  version: 1.0.0
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  termsOfService: 'https://www.predicthq.com/legal/terms'
security:
  - BearerAuth: []
tags:
  - name: Saved Locations API
    externalDocs:
      url: 'https://docs.predicthq.com/api/saved-locations/overview'
      description: Saved Locations API Docs
servers:
  - url: 'https://api.predicthq.com'
externalDocs:
  url: 'https://docs.predicthq.com'
  description: PredictHQ Tech Docs
x-hideTryItPanel: true
paths:
  /v1/saved-locations:
    get:
      operationId: get_locations_public_locations_get
      summary: Search Saved Locations
      parameters:
        - name: q
          in: query
          description: |-
            A full-text search query that searches across the following fields:
            - `name`
            - `description`
            - `location_code`
            - `formatted_address`
            - `labels`


            E.g. `q=alabama`
          required: false
          schema:
            type: string
            title: Q
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: sort
          in: query
          description: |-
            A comma-separated list of fields to sort results by. Use the `-` prefix to sort descending.


            E.g.: `?sort=-created`
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - created
                - '-created'
                - address
                - '-address'
                - name
                - '-name'
                - updated
                - '-updated'
                - attended_event_count
                - '-attended_event_count'
                - non_attended_event_count
                - '-non_attended_event_count'
                - phq_attendance_sum
                - '-phq_attendance_sum'
                - pes_accommodation_sum
                - '-pes_accommodation_sum'
                - pes_hospitality_sum
                - '-pes_hospitality_sum'
                - pes_total_sum
                - '-pes_total_sum'
                - pes_transportation_sum
                - '-pes_transportation_sum'
                - unscheduled_event_count
                - '-unscheduled_event_count'
                - next_90d.attended_event_count
                - '-next_90d.attended_event_count'
                - next_90d.non_attended_event_count
                - '-next_90d.non_attended_event_count'
                - next_90d.pes_accommodation_sum
                - '-next_90d.pes_accommodation_sum'
                - next_90d.pes_hospitality_sum
                - '-next_90d.pes_hospitality_sum'
                - next_90d.pes_total_sum
                - '-next_90d.pes_total_sum'
                - next_90d.pes_transportation_sum
                - '-next_90d.pes_transportation_sum'
                - next_90d.phq_attendance_sum
                - '-next_90d.phq_attendance_sum'
                - next_90d.unscheduled_event_count
                - '-next_90d.unscheduled_event_count'
                - attended_events
                - '-attended_events'
                - non_attended_events
                - '-non_attended_events'
                - attendance
                - '-attendance'
                - unscheduled_events
                - '-unscheduled_events'
            default:
              - created
          explode: false
          style: form
        - name: location_id
          in: query
          description: |-
            A comma-separated string consisting of a list of 1 or more `location_id`'s.


            E.g. `?location_id=6TxvEapQeDzq9y_UKVRQCQ`
          required: false
          schema:
            type: array
            items:
              type: string
          explode: false
          style: form
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedLocationsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
    post:
      operationId: save_location_public_locations_post
      summary: Create a Saved Location
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSavedLocationRequest'
      responses:
        '201':
          description: Location created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  location_id:
                    type: string
                required:
                  - location_id
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
  '/v1/saved-locations/{location_id}':
    get:
      operationId: get_location_public_locations__location_id__get
      summary: Get a Saved Location
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedLocationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
    put:
      operationId: replace_location_data_public_locations__location_id__put
      summary: Update (replace) a Saved Location
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSavedLocationRequest'
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
    delete:
      operationId: delete_location_public_locations__location_id__delete
      summary: Delete a Saved Location
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
  '/v1/saved-locations/{location_id}/insights/events':
    get:
      operationId: get_location_events_public_locations__location_id__insights_events_get
      summary: Search Events for a Saved Location
      description: 'Please refer to the [Events API](https://docs.predicthq.com/api/events/search-events) docs for the available query parameters in addition to those listed below.'
      parameters:
        - name: location_id
          in: path
          description: An existing Saved Location ID.
          required: true
          schema:
            type: string
            title: Location Id
        - name: date_range_type
          in: query
          description: |-
            Date range to fetch events for.


            Currently the only supported date ranges are:


            - `next_90d`
          required: false
          schema:
            $ref: '#/components/schemas/DateRangeType'
            title: Date Range Type
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhqEvents'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
  '/v1/saved-locations/{location_id}/opening-hours':
    post:
      operationId: create_opening_hours_public_locations__location_id__opening_hours_post
      summary: Create opening hours for a location
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            type: string
            title: Location Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOpeningHoursRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOpeningHoursResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
    get:
      operationId: search_opening_hours_public_locations__location_id__opening_hours_get
      summary: List opening hours for a location
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            type: string
            title: Location Id
        - name: active_from
          in: query
          required: false
          schema:
            type: string
            format: date
            title: Active From
        - name: active_to
          in: query
          required: false
          schema:
            type: string
            format: date
            title: Active To
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningHoursSearchResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
  '/v1/saved-locations/{location_id}/opening-hours/{opening_hours_id}':
    get:
      operationId: get_opening_hours_public_locations__location_id__opening_hours__opening_hours_id__get
      summary: Get specific opening hours
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            type: string
            title: Location Id
        - name: opening_hours_id
          in: path
          required: true
          schema:
            type: string
            title: Opening Hours Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningHoursResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
    put:
      operationId: update_opening_hours_public_locations__location_id__opening_hours__opening_hours_id__put
      summary: Update opening hours
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            type: string
            title: Location Id
        - name: opening_hours_id
          in: path
          required: true
          schema:
            type: string
            title: Opening Hours Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOpeningHoursRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpeningHours'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
    delete:
      operationId: delete_opening_hours_public_locations__location_id__opening_hours__opening_hours_id__delete
      summary: Delete opening hours
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            type: string
            title: Location Id
        - name: opening_hours_id
          in: path
          required: true
          schema:
            type: string
            title: Opening Hours Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
  '/v1/saved-locations/{location_id}/closures':
    post:
      operationId: create_closure_public_locations__location_id__closures_post
      summary: Create a closure for a location
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            type: string
            title: Location Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClosureRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClosureResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
    get:
      operationId: search_closures_public_locations__location_id__closures_get
      summary: List closures for a location
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            type: string
            title: Location Id
        - name: active_from
          in: query
          required: false
          schema:
            type: string
            format: date
            title: Active From
        - name: active_to
          in: query
          required: false
          schema:
            type: string
            format: date
            title: Active To
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosuresSearchResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
  '/v1/saved-locations/{location_id}/closures/{closure_id}':
    get:
      operationId: get_closure_public_locations__location_id__closures__closure_id__get
      summary: Get specific closure
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            type: string
            title: Location Id
        - name: closure_id
          in: path
          required: true
          schema:
            type: string
            title: Closure Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Closure'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
    delete:
      operationId: delete_closure_public_locations__location_id__closures__closure_id__delete
      summary: Delete closure
      parameters:
        - name: location_id
          in: path
          required: true
          schema:
            type: string
            title: Location Id
        - name: closure_id
          in: path
          required: true
          schema:
            type: string
            title: Closure Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
        - Saved Locations API
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Limit the number of results.
      required: false
      schema:
        type: integer
        default: 10
    OffsetParam:
      name: offset
      in: query
      description: Offset the results.
      required: false
      schema:
        type: integer
        default: 0
  schemas:
    AdditionalDetails:
      type: object
      properties:
        opening_hours:
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Output'
          title: Opening Hours
        closures:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalDetailsClosure'
          title: Closures
      title: AdditionalDetails
    AdditionalDetailsClosure:
      type: object
      properties:
        effective_from:
          type: string
          title: Effective From
        effective_to:
          type: string
          title: Effective To
        title:
          type: string
          title: Title
      required:
        - effective_from
        - effective_to
        - title
      title: AdditionalDetailsClosure
    Closure:
      type: object
      properties:
        closure_id:
          type: string
          title: Closure Id
        location_id:
          type: string
          title: Location Id
        effective_from:
          type: string
          format: date
          title: Effective From
        effective_to:
          type: string
          format: date
          title: Effective To
        title:
          type: string
          title: Title
        create_dt:
          type: string
          format: date-time
          title: Create Dt
        update_dt:
          type: string
          format: date-time
          title: Update Dt
        status:
          default: active
          $ref: '#/components/schemas/ClosureStatus'
      required:
        - closure_id
        - location_id
        - effective_from
        - effective_to
        - title
        - create_dt
        - update_dt
      title: Closure
    ClosureResponse:
      type: object
      properties:
        closure_id:
          type: string
          title: Closure Id
        location_id:
          type: string
          title: Location Id
        effective_from:
          type: string
          format: date
          title: Effective From
        effective_to:
          type: string
          format: date
          title: Effective To
        title:
          type: string
          title: Title
        create_dt:
          type: string
          format: date-time
          title: Create Dt
        update_dt:
          type: string
          format: date-time
          title: Update Dt
      required:
        - closure_id
        - location_id
        - effective_from
        - effective_to
        - title
        - create_dt
        - update_dt
      title: ClosureResponse
    ClosureStatus:
      type: string
      enum:
        - active
        - deleted
      title: ClosureStatus
    ClosuresSearchResponse:
      type: object
      properties:
        count:
          type: integer
          title: Count
        previous:
          type: string
          title: Previous
        next:
          type: string
          title: Next
        closures:
          type: array
          items:
            $ref: '#/components/schemas/ClosureResponse'
          title: Closures
      required:
        - count
        - closures
      title: ClosuresSearchResponse
    CreateClosureRequest:
      type: object
      properties:
        effective_from:
          type: string
          format: date
          title: Effective From
        effective_to:
          type: string
          format: date
          title: Effective To
        title:
          type: string
          title: Title
      required:
        - effective_from
        - effective_to
        - title
      title: CreateClosureRequest
    CreateClosureResponse:
      type: object
      properties:
        closure_id:
          type: string
          title: Closure Id
      required:
        - closure_id
      title: CreateClosureResponse
    CreateOpeningHoursRequest:
      type: object
      properties:
        effective_from:
          type: string
          format: date
          default: '0001-01-01'
          title: Effective From
        effective_to:
          type: string
          format: date
          default: '9999-12-31'
          title: Effective To
        slots:
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Input'
          minItems: 1
          title: Slots
      required:
        - slots
      title: CreateOpeningHoursRequest
    CreateOpeningHoursResponse:
      type: object
      properties:
        opening_hours_id:
          type: string
          title: Opening Hours Id
      required:
        - opening_hours_id
      title: CreateOpeningHoursResponse
    CreateSavedLocationRequest:
      type: object
      properties:
        location_code:
          description: |-
            An optional identifier for your location.


            The intention here is to use your own identifier for the location if you have one. 
            E.g., you might have stores/hotels/etc in your system with their own ID 
            - use that ID here to make it easier to lookup the location later.
          type: string
          title: Location Code
        name:
          description: |-
            Name of the Saved Location.

            E.g. `My Location`
          type: string
          examples:
            - My Location
          title: Name
        description:
          description: Description of the location.
          type: string
          title: Description
        labels:
          description: |-
            A list of labels to help you categorize your locations.
            You can use these labels to search upon.


            **E.g.**
              ```json
                {
                  "labels": ["label1", "label2"]
                }
              ```
          type: array
          items:
            type: string
          examples:
            - test
            - retail
          title: Labels
        geojson:
          description: |-
            You can define the geolocation of the Saved Location either by GeoJSON or Place IDs.


            For the Point geometry type, we require a radius to be defined using a special set of properties on the GeoJSON record. As in the example below, these are `radius` and `radius_unit`. The radius property must be an integer or a float number up to 2 decimal places.


            Remember that GeoJSON coordinates are ordered longitude then latitude.


            Note: For Point geometry type, we strongly recommend using our [Suggested Radius API](https://docs.predicthq.com/api/suggested-radius/get-suggested-radius) to find a suitable radius value for your location and industry.
          $ref: '#/components/schemas/GeoJson-Input'
          examples:
            - type: Feature
              properties:
                radius: 3.17
                radius_unit: mi
              geometry:
                type: Point
                coordinates:
                  - -122.3816274
                  - 37.61911449999999
        place_ids:
          description: |-
            You can define the geolocation of the Saved Location either by GeoJSON or Place IDs.

            The Place IDs option is typically used when the location covers an entire city, county, state or country.

            Use our [Places API](https://docs.predicthq.com/api/places/search-places) to search for the correct Place ID.
          type: array
          items:
            type: integer
          title: Place Ids
        formatted_address:
          type: string
          title: Formatted Address
        industry:
          description: |-
            The industry of your business. This is used to calculate the Impact Area for your location when you specify
            the `origin_geojson` field.
          $ref: '#/components/schemas/Industry'
        origin_geojson:
          description: |-
            The `origin_geojson` field is used to define the geolocation of your business.

            The difference between `origin_geojson` and `geojson` is that `origin_geojson` defines the exact location of
            your business while `geojson` defines the area around your business that impacts your business demand and
            you want to search events for.

            If you only define the `origin_geojson` field for the Saved Location and don't specify `geojson` or `place_ids`
            an Impact Area will be automatically calculated as an Isochrone Polygon and will be stored in the `geojson` field.

            Remember that GeoJSON coordinates are ordered longitude then latitude.

            Note: Refer to our [Impact Area](https://docs.predicthq.com/api/impact-area/get-impact-area)
            documentation for more details.
          $ref: '#/components/schemas/OriginGeoJson'
          examples:
            - type: Feature
              geometry:
                type: Point
                coordinates:
                  - -122.3816274
                  - 37.61911449999999
      title: CreateSavedLocationRequest
    DateRange:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/DateRangeType'
        start_dt:
          type: string
          format: date-time
          title: Start Dt
        end_dt:
          type: string
          format: date-time
          title: End Dt
      required:
        - type
        - start_dt
        - end_dt
      title: DateRange
    DateRangeType:
      type: string
      const: next_90d
      title: DateRangeType
    DayOfWeek:
      type: string
      enum:
        - monday
        - tuesday
        - wednesday
        - thursday
        - friday
        - saturday
        - sunday
      title: DayOfWeek
    GeoJson-Input:
      type: object
      properties:
        type:
          type: string
          const: Feature
          title: Type
        properties:
          $ref: '#/components/schemas/Properties'
        geometry:
          discriminator:
            propertyName: type
            mapping:
              LineString: '#/components/schemas/LineString'
              MultiLineString: '#/components/schemas/MultiLineString'
              MultiPolygon: '#/components/schemas/MultiPolygon'
              Point: '#/components/schemas/Point'
              Polygon: '#/components/schemas/Polygon'
          oneOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
            - $ref: '#/components/schemas/LineString'
            - $ref: '#/components/schemas/MultiLineString'
          title: Geometry
      required:
        - type
        - geometry
      title: GeoJSON (Input)
    GeoJson-Output:
      type: object
      properties:
        type:
          type: string
          const: Feature
          title: Type
        properties:
          $ref: '#/components/schemas/Properties'
        geometry:
          discriminator:
            propertyName: type
            mapping:
              LineString: '#/components/schemas/LineString'
              MultiLineString: '#/components/schemas/MultiLineString'
              MultiPolygon: '#/components/schemas/MultiPolygon'
              Point: '#/components/schemas/Point'
              Polygon: '#/components/schemas/Polygon'
          oneOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
            - $ref: '#/components/schemas/LineString'
            - $ref: '#/components/schemas/MultiLineString'
          title: Geometry
      required:
        - type
        - geometry
      title: GeoJSON (Output)
    HTTPValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
      title: HTTPValidationError
    Industry:
      type: string
      enum:
        - parking
        - restaurants
        - retail
        - accommodation
        - cpg
        - tourism
        - marketing
        - transportation
        - other
      title: Industry
    LineString:
      type: object
      properties:
        type:
          type: string
          default: LineString
          const: LineString
          title: Type
        coordinates:
          type: array
          items:
            anyOf:
              - prefixItems:
                  - type: number
                  - type: number
                type: array
                maxItems: 2
                minItems: 2
              - prefixItems:
                  - type: number
                  - type: number
                  - type: number
                type: array
                maxItems: 3
                minItems: 3
          title: Coordinates
      required:
        - coordinates
      title: LineString
    LocationType:
      type: string
      enum:
        - place_id
        - point
        - polygon
        - impact_area
      title: LocationType
    MultiLineString:
      type: object
      properties:
        type:
          type: string
          default: MultiLineString
          const: MultiLineString
          title: Type
        coordinates:
          type: array
          items:
            items:
              anyOf:
                - prefixItems:
                    - type: number
                    - type: number
                  type: array
                  maxItems: 2
                  minItems: 2
                - prefixItems:
                    - type: number
                    - type: number
                    - type: number
                  type: array
                  maxItems: 3
                  minItems: 3
            type: array
          title: Coordinates
      required:
        - coordinates
      title: MultiLineString
    MultiPolygon:
      type: object
      properties:
        type:
          type: string
          default: MultiPolygon
          const: MultiPolygon
          title: Type
        coordinates:
          type: array
          items:
            items:
              items:
                anyOf:
                  - prefixItems:
                      - type: number
                      - type: number
                    type: array
                    maxItems: 2
                    minItems: 2
                  - prefixItems:
                      - type: number
                      - type: number
                      - type: number
                    type: array
                    maxItems: 3
                    minItems: 3
              type: array
            type: array
          title: Coordinates
      required:
        - coordinates
      title: MultiPolygon
    OpeningHourSlot-Input:
      type: object
      properties:
        day:
          $ref: '#/components/schemas/DayOfWeek'
        slot:
          $ref: '#/components/schemas/TimeSlot-Input'
      required:
        - day
        - slot
      title: OpeningHourSlot
    OpeningHourSlot-Output:
      type: object
      properties:
        day:
          $ref: '#/components/schemas/DayOfWeek'
        slot:
          $ref: '#/components/schemas/TimeSlot-Output'
      required:
        - day
        - slot
      title: OpeningHourSlot
    OpeningHours:
      type: object
      properties:
        opening_hours_id:
          type: string
          title: Opening Hours Id
        location_id:
          type: string
          title: Location Id
        effective_from:
          type: string
          format: date
          title: Effective From
        effective_to:
          type: string
          format: date
          title: Effective To
        slots:
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Output'
          title: Slots
        create_dt:
          type: string
          format: date-time
          title: Create Dt
        update_dt:
          type: string
          format: date-time
          title: Update Dt
        status:
          default: active
          $ref: '#/components/schemas/OpeningHoursStatus'
      required:
        - opening_hours_id
        - location_id
        - slots
        - create_dt
        - update_dt
      title: OpeningHours
    OpeningHoursResponse:
      type: object
      properties:
        opening_hours_id:
          type: string
          title: Opening Hours Id
        location_id:
          type: string
          title: Location Id
        effective_from:
          type: string
          format: date
          title: Effective From
        effective_to:
          type: string
          format: date
          title: Effective To
        slots:
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Output'
          title: Slots
        create_dt:
          type: string
          format: date-time
          title: Create Dt
        update_dt:
          type: string
          format: date-time
          title: Update Dt
      required:
        - opening_hours_id
        - location_id
        - slots
        - create_dt
        - update_dt
      title: OpeningHoursResponse
    OpeningHoursSearchResponse:
      type: object
      properties:
        count:
          type: integer
          title: Count
        previous:
          type: string
          title: Previous
        next:
          type: string
          title: Next
        opening_hours:
          type: array
          items:
            $ref: '#/components/schemas/OpeningHoursResponse'
          title: Opening Hours
      required:
        - count
        - opening_hours
      title: OpeningHoursSearchResponse
    OpeningHoursStatus:
      type: string
      enum:
        - active
        - deleted
      title: OpeningHoursStatus
    OriginGeoJson:
      type: object
      properties:
        type:
          type: string
          default: Feature
          const: Feature
          title: Type
        geometry:
          $ref: '#/components/schemas/Point'
      additionalProperties: false
      required:
        - geometry
      title: OriginGeoJson
    PhqEvents:
      type: object
      properties:
        count:
          description: Total number of results found.
          type: integer
          title: Count
        results:
          description: |-
            List of results where each item is an Event.


            Please refer to the response fields section in [Search Events](https://docs.predicthq.com/api/events/search-events#response-fields) for the structure of each record.
          type: array
          items:
            additionalProperties: true
            type: object
          title: Results
      required:
        - count
        - results
      title: PhqEvents
    Place:
      type: object
      properties:
        place_id:
          type: integer
          title: Place Id
        type:
          type: string
          title: Type
        name:
          type: string
          title: Name
        county:
          type: string
          title: County
        region:
          type: string
          title: Region
        country:
          type: string
          title: Country
        geojson:
          $ref: '#/components/schemas/PlaceGeoJson'
      required:
        - place_id
        - type
        - name
        - geojson
      title: Place
    PlaceGeoJson:
      type: object
      properties:
        type:
          type: string
          default: Feature
          const: Feature
          title: Type
        geometry:
          anyOf:
            - $ref: '#/components/schemas/Point'
            - $ref: '#/components/schemas/Polygon'
            - $ref: '#/components/schemas/MultiPolygon'
            - $ref: '#/components/schemas/LineString'
            - $ref: '#/components/schemas/MultiLineString'
          title: Geometry
      required:
        - geometry
      title: PlaceGeoJson
    Point:
      type: object
      properties:
        type:
          type: string
          default: Point
          const: Point
          title: Type
        coordinates:
          anyOf:
            - prefixItems:
                - type: number
                - type: number
              type: array
              maxItems: 2
              minItems: 2
            - prefixItems:
                - type: number
                - type: number
                - type: number
              type: array
              maxItems: 3
              minItems: 3
          title: Coordinates
      required:
        - coordinates
      title: Point
    Polygon:
      type: object
      properties:
        type:
          type: string
          default: Polygon
          const: Polygon
          title: Type
        coordinates:
          type: array
          items:
            items:
              anyOf:
                - prefixItems:
                    - type: number
                    - type: number
                  type: array
                  maxItems: 2
                  minItems: 2
                - prefixItems:
                    - type: number
                    - type: number
                    - type: number
                  type: array
                  maxItems: 3
                  minItems: 3
            type: array
          title: Coordinates
      required:
        - coordinates
      title: Polygon
    Properties:
      description: Custom properties for embedding the radius information
      type: object
      properties:
        radius:
          type: number
          title: Radius
        radius_unit:
          $ref: '#/components/schemas/RadiusUnit'
      title: Properties
    RadiusUnit:
      description: The unit of the radius returned. This will be the unit specified in the radius_unit parameter in the call made.
      type: string
      enum:
        - m
        - km
        - ft
        - mi
      title: RadiusUnit
    SavedLocationResponse:
      type: object
      properties:
        location_code:
          description: |-
            The user-supplied identifier for the location.


            E.g. `4t855453234t5623`
          type: string
          examples:
            - 4t855453234t5623
          title: Location Code
        name:
          description: |-
            The user defined name of the Saved Location set in the create location call.


            E.g. `My Parking Building`
          type: string
          examples:
            - My Parking Building
          title: Name
        labels:
          description: |-
            A list of user defined labels for the location.


            E.g.: `["test", "retail"]`
          type: array
          items:
            type: string
          examples:
            - test
            - retail
          title: Labels
        geojson:
          description: 'An object containing the geographic information about a location. Represents the geometry associated with the event in the [GeoJSON format](https://geojson.org/).'
          $ref: '#/components/schemas/GeoJson-Output'
          examples:
            - type: Feature
              properties:
                radius: 3.17
                radius_unit: mi
              geometry:
                type: Point
                coordinates:
                  - -122.3816274
                  - 37.61911449999999
        place_ids:
          description: |-
            An array of place ids (see the [Places API](https://docs.predicthq.com/api/places/search-places)) for locations that are defined as covering an area (see City, State, Country locations) rather than a point and radius.


            E.g. `[2750405]`
          type: array
          items:
            type: integer
          examples:
            - - 2750405
          title: Place Ids
        formatted_address:
          description: |-
            The address of the location. This can be supplied when created a location. 
            If it's not supplied it will be populated by a reverse geocode.


            E.g. 
              ```json
                {
                  "formatted_address": "666 Mission St, San Francisco, CA 94105, USA",
                }
              ```
          type: string
          examples:
            - '666 Mission St, San Francisco, CA 94105, USA'
          title: Formatted Address
        industry:
          description: The industry of your business.
          $ref: '#/components/schemas/Industry'
        origin_geojson:
          description: |-
            An object containing the geographic information about a location. Represents the location of your business
            in the [GeoJSON format](https://geojson.org/).
          $ref: '#/components/schemas/OriginGeoJson'
          examples:
            - type: Feature
              geometry:
                type: Point
                coordinates:
                  - -122.3816274
                  - 37.61911449999999
        create_dt:
          description: |-
            The creation date time for the location in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).


            E.g. `2022-04-26T11:46:24+00:00`
          type: string
          format: date-time
          examples:
            - '2022-04-26T11:46:24+00:00'
          title: Create Dt
        update_dt:
          description: |-
            The last update date time for the location in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).


            E.g. `2022-04-26T11:46:24+00:00`
          type: string
          format: date-time
          examples:
            - '2022-04-26T11:46:24+00:00'
          title: Update Dt
        enrich_dt:
          description: |-
            The date time the location was last enriched in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).


            E.g. `2022-04-26T11:46:25+00:00`
          type: string
          format: date-time
          examples:
            - '2022-04-26T11:46:25+00:00'
          title: Enrich Dt
        insights_dt:
          description: |-
            The date/time insights were last calculated for the location in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).


            E.g. `2022-04-26T11:46:25+00:00`
          type: string
          format: date-time
          examples: '2022-04-26T11:46:25+00:00'
          title: Insights Dt
        user_id:
          description: |-
            The ID of the user who created the saved location. 
            This is present for location created in the WebApp. 
            For locations created via the API this field will not be populated.


            E.g. `hjqkKozgS8mm`
          type: string
          examples:
            - hjqkKozgS8mm
          title: User Id
        subscription_valid_types:
          description: |-
            The value is a list of different (subscription) types that this location is valid for. 
            The possible values are `events`, `broadcasts`, `notifications`, `features_api`.


            It is possible to create locations outside of what your subscription has access to. 
            In this case this field will be empty and you will not be able to view events for the location


            E.g. `["events"]`
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionValidType'
          examples:
            - events
            - features_api
          title: Subscription Valid Types
        location_type:
          $ref: '#/components/schemas/LocationType'
        status:
          description: |-
            Reflects if a location has been updated by the enrichment process. When a location is initially created its status will be `pending`.


            After the enrichment process has updated the location populating `summary_insights` and other fields the status will be `active`.


            Typically locations only have the `pending` status for a short time.
                  
                  
            E.g. `active`
          $ref: '#/components/schemas/SavedLocationStatus'
          examples:
            - active
        summary_insights:
          description: |-
            This object contains the saved locations stats.
            This includes values for each of the 4 stats as well as the date_range field.
            The stats reflect the number of events and attend happening for the location.

            The date range field includes the start and end datetime for the period that the stats have been calculated for.
          type: array
          items:
            $ref: '#/components/schemas/SummaryInsights'
          title: Summary Insights
        places:
          description: 'This is a list of (geonames) Places. It is based on the lowest level place_id in the [place_hierarchies](https://docs.predicthq.com/getting-started/guides/geolocation-guides/understanding-place-hierarchies). It will usually only contain 1 item in the list but will always be a list.'
          type: array
          items:
            $ref: '#/components/schemas/Place'
          title: Places
        location_id:
          description: |-
            The autogenerated identifier for the saved location.


            E.g. `8gZ2rn8BRcTjM_3SWdjP`
          type: string
          examples:
            - 8gZ2rn8BRcTjM_3SWdjP
          title: Location Id
        additional_details:
          $ref: '#/components/schemas/AdditionalDetails'
      examples:
        - location_id: 7sdevIveOuIQmP0EL1lZoQ
          create_dt: '2025-11-17T19:11:43+00:00'
          update_dt: '2025-11-17T19:11:43+00:00'
          enrich_dt: '2025-11-17T19:11:45+00:00'
          insights_dt: '2025-11-17T19:11:46+00:00'
          name: San Francisco
          place_ids:
            - 5391959
          formatted_address: 'San Francisco, San Francisco County, California, United States [Locality]'
          places:
            - place_id: 5391959
              type: locality
              name: San Francisco
              county: San Francisco County
              region: California
              country: US
              geojson:
                type: Feature
                geometry:
                  type: Point
                  coordinates:
                    - -122.41942
                    - 37.77493
          summary_insights:
            - date_range:
                type: next_90d
                start_dt: '2025-11-17T19:11:46+00:00'
                end_dt: '2026-02-15T19:11:46+00:00'
              phq_attendance_sum: 2670581
              attended_event_count: 2568
              non_attended_event_count: 113
              unscheduled_event_count: 2
              pes_total_sum: 232505682
              pes_accommodation_sum: 88335769
              pes_hospitality_sum: 108671383
              pes_transportation_sum: 35496672
          subscription_valid_types:
            - events
            - features_api
          status: active
      required:
        - create_dt
        - update_dt
        - status
        - location_id
      title: SavedLocationResponse
    SavedLocationStatus:
      type: string
      enum:
        - active
        - deleted
        - pending
      title: SavedLocationStatus
    SavedLocationsResponse:
      type: object
      properties:
        count:
          description: Total number of results found.
          type: integer
          title: Count
        locations:
          description: List of results where each item is a Saved Location.
          type: array
          items:
            $ref: '#/components/schemas/SavedLocationResponse'
          title: Locations
      required:
        - count
        - locations
      title: SavedLocationsResponse
    SubscriptionValidType:
      type: string
      enum:
        - broadcasts
        - events
        - features_api
        - notifications
      title: SubscriptionValidType
    SummaryInsights:
      type: object
      properties:
        date_range:
          $ref: '#/components/schemas/DateRange'
        phq_attendance_sum:
          type: integer
          title: Phq Attendance Sum
        attended_event_count:
          type: integer
          title: Attended Event Count
        non_attended_event_count:
          type: integer
          title: Non Attended Event Count
        unscheduled_event_count:
          type: integer
          title: Unscheduled Event Count
        demand_surge_count:
          type: integer
          title: Demand Surge Count
        venue_count:
          type: integer
          title: Venue Count
        pes_total_sum:
          type: integer
          title: Pes Total Sum
        pes_accommodation_sum:
          type: integer
          title: Pes Accommodation Sum
        pes_hospitality_sum:
          type: integer
          title: Pes Hospitality Sum
        pes_transportation_sum:
          type: integer
          title: Pes Transportation Sum
      required:
        - date_range
        - phq_attendance_sum
        - attended_event_count
        - non_attended_event_count
        - unscheduled_event_count
      title: SummaryInsights
    TimeSlot-Input:
      description: |-
        Time slot with dual field naming: technical precision internally, user-friendly API externally.

        Field configuration creates different interfaces:
        - Internal usage: Code accesses .gte/.lt attributes (technical, precise field names)
        - Model input: Accepts both "gte"/"open" and "lt"/"close" via AliasChoices validation
        - API output: FastAPI serializes as "open"/"close" using by_alias=True (user-friendly field names)

        This separation allows internal code to use precise technical terminology while
        providing an intuitive customer-facing API interface.
      type: object
      properties:
        gte:
          description: 'Opening time in HH:MM format (00:00-23:59)'
          type: string
          pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
          title: Gte
        lt:
          description: 'Closing time in HH:MM format (00:00-24:00)'
          type: string
          pattern: '^(([01]?[0-9]|2[0-3]):[0-5][0-9]|24:00)$'
          title: Lt
      required:
        - gte
        - lt
      title: TimeSlot
    TimeSlot-Output:
      description: |-
        Time slot with dual field naming: technical precision internally, user-friendly API externally.

        Field configuration creates different interfaces:
        - Internal usage: Code accesses .gte/.lt attributes (technical, precise field names)
        - Model input: Accepts both "gte"/"open" and "lt"/"close" via AliasChoices validation
        - API output: FastAPI serializes as "open"/"close" using by_alias=True (user-friendly field names)

        This separation allows internal code to use precise technical terminology while
        providing an intuitive customer-facing API interface.
      type: object
      properties:
        open:
          description: 'Opening time in HH:MM format (00:00-23:59)'
          type: string
          pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
          title: Open
        close:
          description: 'Closing time in HH:MM format (00:00-24:00)'
          type: string
          pattern: '^(([01]?[0-9]|2[0-3]):[0-5][0-9]|24:00)$'
          title: Close
      required:
        - open
        - close
      title: TimeSlot
    UpdateOpeningHoursRequest:
      type: object
      properties:
        effective_from:
          type: string
          format: date
          default: '0001-01-01'
          title: Effective From
        effective_to:
          type: string
          format: date
          default: '9999-12-31'
          title: Effective To
        slots:
          type: array
          items:
            $ref: '#/components/schemas/OpeningHourSlot-Input'
          minItems: 1
          title: Slots
      required:
        - slots
      title: UpdateOpeningHoursRequest
    ValidationError:
      type: object
      properties:
        loc:
          type: array
          items:
            anyOf:
              - type: string
              - type: integer
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      required:
        - loc
        - msg
        - type
      title: ValidationError
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: $API_KEY
      description: |
        Enter your PredictHQ API key. The Bearer prefix is added automatically.

        When calling the API directly, send: `Authorization: Bearer <YOUR_API_KEY>` as documented at [https://docs.predicthq.com/api/overview/authenticating](https://docs.predicthq.com/api/overview/authenticating)

